<div>

    <div class="col-xs-12 db-nopadding">
        <ul class="list-group">
            <div class="list-group-item prop-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-10">
                        <h4 class="prop-header-text" translate translate-cloak>STR_PRIVATE_PROPOSALS</h4>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 btn-group" uib-dropdown is-open="">
                        <button id="typeButton" type="button" ng-disabled="c.unsavedCount" class="btn btn-block btn-primary prop-button" uib-dropdown-toggle
                            translate translate-cloak>STR_CREATE_PROPOSAL</button>
                        <div uib-dropdown-menu role="menu" aria-labelledby="typeButton">
                            <div role="menuitem" ng-repeat="type in c.tps track by $index" ng-click="c.addProposalClicked(type)">
                                <a>{{type.text}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <db-proposal ng-if="(p.isPublished === c.published.NO || p.isPublished === null)" class="list-group-item" proposal="p" guid="guid"
                disable-create="c.unsavedCount" on-remove="c.remove(data)" on-add="c.add(data)" ng-repeat="p in c.proposals track by p.proposalGuid">
            </db-proposal>
        </ul>
    </div>

    <div class="col-xs-12 db-nopadding">
        <ul class="list-group">
            <div class="list-group-item prop-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-10">
                        <h4 class="prop-header-text" translate translate-cloak>STR_PUBLIC_PROPOSALS</h4>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 btn-group">
                        <button id="typeButton" type="button" class="btn btn-block btn-primary prop-button" ng-click="c.toggleAll()"><div translate translate-cloak>{{c.btnText}}</div></button>
                    </div>
                </div>
            </div>
            <db-proposal ng-if="(p.isPublished === c.published.YES)" class="list-group-item" proposal="p" guid="guid" disable-create="c.unsavedCount"
                on-remove="c.remove(data)" on-add="c.add(data)" ng-repeat="p in c.proposals | orderBy:'insertDateTime': true track by p.proposalGuid">
            </db-proposal>
        </ul>
    </div>

</div>
