<div class="db-conf-att">

    <div class="db-hdr-l2">

        <div class="db-hdr-l2-grp">

            <div class="db-hdr-l2-item hidden-xs hidden-sm">
                <span translate translate-cloak>STR_PAGE</span>
            </div>

            <div class="db-hdr-l2-item">
                <button type="button" class="btn btn-primary btn-sm" ng-click="c.pageChanged(1)" ng-disabled="c.currPage === 1 || !c.pages.length">
                    <span ng-if="c.pages.length > 1">(1)&nbsp;</span>
                    &lt;&lt;
                </button>

                <button type="button" class="btn btn-primary btn-sm" ng-click="c.pageChanged(c.currPage - 1)" ng-disabled="c.currPage === 1 || !c.pages.length">
                    &lt;
                </button>
            </div>

            <div class="db-hdr-l2-item">
                <input type="number" width="100px" ng-model="c.currPage" min="1" max="{{c.pages.length}}" ng-change="c.pageChanged(c.currPage)"
                    required ng-disabled="!c.pages.length || c.pages.length === 1">
            </div>

            <div class="db-hdr-l2-item">
                <button type="button" class="btn btn-primary btn-sm" ng-click="c.pageChanged(c.currPage + 1)" ng-disabled="c.currPage >= c.pages.length">
                    &gt;
                </button>

                <button type="button" class="btn btn-primary btn-sm" ng-click="c.pageChanged(c.pages.length)" ng-disabled="c.currPage >= c.pages.length">
                    &gt;&gt;&nbsp;
                    <span ng-if="c.pages.length > 1">({{c.pages.length}})</span>
                </button>
            </div>

        </div>

        <div class="db-hdr-l2-grp">
            <div class="db-hdr-l2-item hidden-xs hidden-sm">
                <span translate translate-cloak>STR_ZOOM</span>
            </div>

            <div class="db-hdr-l2-item">
                <button type="button" class="btn btn-primary btn-sm" ng-click="c.imgZoom(true)" ng-disabled="!c.pages.length || !c.currPage">
                    <span class="glyphicon center glyphicon-minus"></span>
                </button>
            </div>

            <div class="db-hdr-l2-item">
                <input type="number" width="100px" ng-model="c.zoomLvl" min="{{c.imgZoomMin}}" max="{{c.imgZoomMax}}" required ng-disabled="!c.pages.length || !c.currPage">
            </div>

            <div class="db-hdr-l2-item">
                <button type="button" class="btn btn-primary btn-sm" ng-click="c.imgZoom(false)" ng-disabled="!c.pages.length || !c.currPage">
                    <span class="glyphicon center glyphicon-plus"></span>
                </button>
            </div>
        </div>

    </div>

    <div ng-show="c.loadingImg" class="db-spinner-cont">
        <span us-spinner spinner-on="true"></span>
    </div>

    <div class="db-conf-att-img db-overflow">
        <img ng-if="c.pageData && c.pageData.obj && c.pageData.obj.fileContents" ng-src="data:{{c.pageData.obj.contentType}};base64,{{c.pageData.obj.fileContents}}"
            ng-attr-style="width: {{c.zoomLvl}}%">
    </div>

</div>
