<div class="btn-group-vertical full-width" role="group">
    <div class="btn-group" ng-repeat="(key, value) in items track by key">
        <button type="button" class="btn btn-primary btn-lg ad-menu-item" ng-class="{active: (state === value.state || state === value.pseudoState)}" ng-click="selected({item:value})">
            <h4>{{value.name}}</h4>
            <h5>{{value.meeting.date}} {{value.meeting.policymaker_name}}</h5>
        </button>
        <button class="btn btn-default ad-submenu-item" ng-class="{active: i === item}" ng-repeat="i in value.submenu track by $index" ng-click="subselected({item:i})">
            <div class="row">
                <div class="col-xs-1">
                    <img src="images/state_4_remark.png">
                </div>
                <div class="col-xs-10">
                    {{i.subject}}
                </div>
            </div>
        </button>
    </div>
</div>
