<div class="prop-element">

    <div class="prop-row">
        <div class="prop-row-child col-xs-6 col-sm-8 col-md-9">
            <p class="prop-text-oneliner"><b>{{c.typeText(proposal.proposalType)}}</b>&nbsp;&nbsp;<span ng-if="c.isCollapsed()" class="animate-if" ng-bind-html="proposal.text"></span>
            </p>
            <div>{{proposal.personName}}</div>
        </div>

        <div class="prop-row-child text-right col-xs-6 col-sm-4 col-md-3">
            <button ng-if="c.leftBtn" class="btn {{c.leftBtn.type}} btn-md animate-if prop-label" ng-click="c.act(c.leftBtn.action)">
                <span class="glyphicon {{c.leftBtn.icon}}"></span>
            </button>
            <button ng-if="c.middleBtn" class="btn {{c.middleBtn.type}} btn-md animate-if prop-label" ng-click="c.act(c.middleBtn.action)">
                <span class="glyphicon {{c.middleBtn.icon}}"></span>
            </button>
            <button ng-if="c.rightBtn" class="btn {{c.rightBtn.type}} btn-md animate-if prop-label" ng-click="c.act(c.rightBtn.action)">
                <span class="glyphicon {{c.rightBtn.icon}}"></span>
            </button>
        </div>
    </div>

    <div uib-collapse="!c.isReading()">
        <div class="row">
            <div class="col-xs-12">
                <div class="prop-text" ng-bind-html="proposal.text | unsafe"></div>
            </div>

        </div>
    </div>

    <div uib-collapse="!c.isEditing()" class="prop-editor">
        <div class="row">
            <div class="col-xs-12">
                <wysiwyg textarea-class="form-control" textarea-height="auto" enable-bootstrap-title="true" textarea-required ng-model="c.editedText"
                textarea-menu="c.editor.menu">
                </wysiwyg>
            </div>

        </div>
    </div>

</div>
