<div class="prop-element">

    <div class="prop-row">
        <div class="prop-row-child col-xs-6 col-sm-8 col-md-9">
            <p class="prop-text-oneliner"><b>{{c.typeText(proposal.proposalType)}}</b>&nbsp;&nbsp;<span ng-if="c.isCollapsed()" ng-bind-html="proposal.text"></span>
            </p>
            <div>{{proposal.personName}}</div>
        </div>

        <div class="prop-row-child text-right col-xs-6 col-sm-4 col-md-3">
            <button ng-if="c.lBtn" class="btn {{c.lBtn.type}} btn-md prop-label" ng-disabled="c.lBtn.disabled" ng-click="c.act(c.lBtn.action)" confirm-if="c.lBtn.confirm" <button ng-if="c.lBtn" class="btn {{c.lBtn.type}} btn-md prop-label" ng-disabled="c.lBtn.disabled"
                ng-click="c.act(c.lBtn.action)" confirm-if="c.lBtn.confirm" confirm="{{c.lBtn.text | translate}}" confirm-title="{{c.lBtn.title | translate}}" confirm-ok="{{c.lBtn.ok | translate}}" confirm-cancel="{{c.lBtn.cancel | translate}}" uib-tooltip="{{c.lBtn.tooltip | translate}}">
                <span class="glyphicon {{c.lBtn.icon}}"></span>
            </button>
            <button ng-if="c.mBtn" class="btn {{c.mBtn.type}} btn-md prop-label" ng-disabled="c.mBtn.disabled" ng-click="c.act(c.mBtn.action)" confirm-if="c.mBtn.confirm" confirm="{{c.mBtn.text | translate}}" confirm-title="{{c.mBtn.title | translate}}" confirm-ok="{{c.mBtn.ok | translate}}"
                confirm-cancel="{{c.mBtn.cancel | translate}}" uib-tooltip="{{c.mBtn.tooltip | translate}}">
                <span class="glyphicon {{c.mBtn.icon}}"></span>
            </button>
            <button ng-if="c.rBtn" class="btn {{c.rBtn.type}} btn-md prop-label" ng-disabled="c.rBtn.disabled" ng-click="c.act(c.rBtn.action)" confirm-if="c.rBtn.confirm" confirm="{{c.rBtn.text | translate}}" confirm-title="{{c.rBtn.title | translate}}" confirm-ok="{{c.rBtn.ok | translate}}"
                confirm-cancel="{{c.rBtn.cancel | translate}}" uib-tooltip="{{c.rBtn.tooltip | translate}}">
                <span class="glyphicon {{c.rBtn.icon}}"></span>
            </button>
        </div>
    </div>

    <div uib-collapse="!c.isReading()">
        <div class="row">
            <div class="col-xs-12">
                <div class="prop-text" ng-bind-html="proposal.text | unsafe"></div>
            </div>

        </div>
    </div>

    <div uib-collapse="!c.isEditing()" class="prop-editor">
        <div class="row">
            <div class="col-xs-12">
                <wysiwyg textarea-class="form-control" textarea-height="auto" enable-bootstrap-title="true" textarea-required ng-model="c.editedText" textarea-menu="c.editor.menu">
                </wysiwyg>
            </div>

        </div>
    </div>

</div>
