<div class="db-overflow db-margin-1">
    <section ng-repeat="data in c.data track by $index">
        <header ng-if="data.title.header" translate translate-cloak>{{data.title.header}}</header>
        <ul role="menu">
            <li role="menuitem" class="ng-class:[{'db-opacity-05':c.isDisabled(att)}]" ng-repeat="att in data.objects track by $index">
                <a class="" ng-click="!c.isDisabled(att) && c.selected(att)"><span ng-if="att.orderNum">{{att.orderNum}}&nbsp;</span>{{att.title}}</a>
            </li>
        </ul>
    </section>

</div>
