<div class="db-overflow" ng-init="isCollapsed = false">

    <ul class="list-group" ng-repeat="data in c.data track by $index">
        <div class="list-group-item db-prim-bg" ng-click="isCollapsed = !isCollapsed">
            <div class="db-flex db-center-v">
                <span class="db-margin-10-right glyphicon ng-class:{'glyphicon-minus': !isCollapsed, 'glyphicon-plus': isCollapsed}" aria-hidden="true"></span>
                <h5 ng-if="data.title.header" translate translate-cloak>{{data.title.header}}</h5>
            </div>
        </div>
        <div uib-collapse="isCollapsed">
            <li class="list-group-item ng-class:[{'db-opacity-05':c.isLinkDisabled(att)}]" ng-repeat="att in data.objects track by $index">
                <div class="db-flex">
                    <a class="db-flex-area" ng-click="!c.isLinkDisabled(att) && c.selected(att)"><span ng-if="att.orderNum">{{att.orderNum}}&nbsp;</span>{{att.title}}</a>
                    <span class="glyphicon glyphicon-new-window ng-class:[{'db-opacity-05':c.isOpenWindowDisabled(att)}]" ng-click="!c.isOpenWindowDisabled(att) && c.newTab(att.link)" aria-hidden="true"></span>
                </div>

            </li>
        </div>
    </ul>

</div>
