<div class="btn-group" uib-dropdown is-open="status.isopen">
    <label role="button" class="btn btn-primary btn-sm text-align-left" uib-dropdown-toggle ng-disabled="!list || list.length < 1">
        <span class="glyphicon glyphicon-paperclip"></span>
        <span>{{header}}</span>
        <span class="badge">{{list.length}}</span>
        <span class="caret"></span>
    </label>
    <ul uib-dropdown-menu class="ad-dropdown-menu scrollable-menu" role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-repeat="a in list track by $index" ng-click="selected({attachment:a}); status.isopen = false">
            <a href="" class="list-group-item text-nowrap"><strong>{{a.number}}.</strong> {{a.name}}</a>
        </li>
    </ul>
</div>
