<div class="container-fluid">
    <div class="row">

        <div class="hidden-xs col-xs-12 col-sm-4 db-no-padding">
            <button type="button" class="btn btn-block disabled db-no-border ng-class:{'db-btn-opt': c.loading, 'db-btn-opt-dummy': !c.loading}">
                <span translate translate-cloak>STR_MEETING</span>
            </button>
        </div>

        <div class="hidden-xs col-xs-12 col-sm-2 db-no-padding">
            <button id="roleButton" type="button" class="btn btn-block disabled db-no-border ng-class:{'db-btn-opt': c.loading, 'db-btn-opt-dummy': !c.loading}"
                translate translate-cloak>
                STR_STATUS
            </button>
        </div>

        <div class="col-xs-12 col-sm-3 btn-group db-no-padding" uib-dropdown is-open="agencyIsOpen">
            <button id="agencyButton" type="button" class="btn btn-block db-btn-opt db-no-border" uib-dropdown-toggle ng-disabled="c.loading">
                <span class="ng-cloak ng-class:{'db-underline': c.aF}">{{c.agencyTitle}}</span>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="agencyButton">
                <li role="menuitem" ng-repeat="agency in c.agencyData track by $index"><a ng-click="c.setAgencyFilter(agency)">{{agency}}</a></li>
                <li ng-if="c.aF" class="divider"></li>
                <li ng-if="c.aF" role="menuitem"><a ng-click="c.setAgencyFilter(null)">Poista valinta</a></li>
            </ul>
        </div>

        <div class="hidden-xs col-xs-12 col-sm-3 db-no-padding">
            <button id="roleButton" type="button" class="btn btn-block disabled db-no-border ng-class:{'db-btn-opt': c.loading, 'db-btn-opt-dummy': !c.loading}"
                translate>STR_MTG_LOGIN</button>
        </div>

    </div>

    <div class="row">

        <uib-progressbar ng-if="c.loading" class="progress-striped active" type="info"><i>Haetaan...</i></uib-progressbar>

        <ul ng-if="!c.mtgErr" class="list-group">
            <li ng-if="item.visible" type="button" class="list-group-item" ng-repeat="item in c.data | orderBy:'meeting.meetingDate': reverse track by $index">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        {{item.meeting.meetingDate | date:'yyyy-MM-dd HH:mm' }}<span class="db-fw-700 db-margin-10-hor">{{item.meeting.name}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-2 ng-class:[{'db-padding-05-ver db-fs-11':c.isMobile}]">
                        <span class="label ng-class:[c.mtgStatusClass(item)]" translate translate-cloak>{{c.statusStringId(item)}}</span>
                    </div>
                    <div class="col-xs-12 col-sm-3 ng-class:[{'db-padding-05-ver db-fs-11':c.isMobile}]">{{item.meeting.agencyName}}</div>
                    <div class="col-xs-12 col-sm-3">
                        <button ng-repeat="role in item.meeting.roleIDs | orderBy : '-RoleID' track by $index" type="button" class="btn db-btn-sel db-margin-2 ng-class:[{'btn-block db-fs-12':c.isMobile}]"
                            ng-click="selected({meetingItem:item.meeting, meetingRole:role, personGuid: c.responseData.personGuid })" tooltip-enable="c.isTooltips"
                            tooltip-placement="left" uib-tooltip="{{'STR_MTG_LOGIN' | translate}}">
                            <div class="db-center">
                                <span>{{role.RoleName}}</span>&nbsp;
                                <span class="glyphicon glyphicon-log-in"></span>
                            </div>
                        </button>
                    </div>
                </div>
            </li>
        </ul>

        <div ng-if="c.mtgErr" class="alert alert-danger" role="alert">
            Haku ei onnistunut. Ole hyvä ja yritä myöhemmin uudestaan.
            <br>({{c.mtgErr.status}} {{c.mtgErr.statusText}})
        </div>

    </div>
</div>
