<div class="container-fluid">
    <div class="row">

        <div class="hidden-xs col-xs-12 col-sm-4 db-no-padding">
            <button type="button" class="btn btn-block disabled db-no-border ng-class:{'db-btn-opt': c.loading, 'db-btn-opt-dummy': !c.loading}">
                <span translate translate-cloak>STR_MEETING</span>
            </button>
        </div>

        <div class="hidden-xs col-xs-12 col-sm-2 db-no-padding">
            <button id="roleButton" type="button" class="btn btn-block disabled db-no-border ng-class:{'db-btn-opt': c.loading, 'db-btn-opt-dummy': !c.loading}"
                translate translate-cloak>STR_STATUS</button>
        </div>

        <div class="col-xs-12 col-sm-3 btn-group db-no-padding" uib-dropdown is-open="agencyIsOpen">
            <button id="agencyButton" type="button" class="btn btn-block db-btn-opt db-no-border" uib-dropdown-toggle ng-disabled="c.loading">
                <span class="ng-cloak ng-class:{'db-underline': c.aF}" translate trsanslate-cloak ng-cloak>{{c.aF ? c.aF : 'STR_AGENCY'}}</span>
                <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="agencyButton">
                <li role="menuitem" ng-repeat="agency in c.agencyData track by $index"><a ng-click="c.setAgencyFilter(agency)">{{agency}}</a></li>
                <li ng-if="c.aF" class="divider"></li>
                <li ng-if="c.aF" role="menuitem"><a ng-click="c.setAgencyFilter(null)" translate translate-cloak>STR_CLEAR_SELECTION</a></li>
            </ul>
        </div>

        <div class="hidden-xs col-xs-12 col-sm-3 db-no-padding">
            <button id="roleButton" type="button" class="btn btn-block disabled db-no-border ng-class:{'db-btn-opt': c.loading, 'db-btn-opt-dummy': !c.loading}"
                translate>STR_MTG_LOGIN</button>
        </div>

    </div>

    <div class="row">

        <div ng-show="c.loading" class="db-spinner-cont" style="height: 100%;">
            <span us-spinner spinner-on="c.loading"></span>
        </div>

        <ul ng-if="!c.mtgErr" class="list-group">
            <li ng-if="item.visible" type="button" class="list-group-item" ng-repeat="item in c.data | orderBy:'meeting.meetingDate': reverse track by $index">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <span class="db-fw-700 ng-class:[{'db-padding-05-ver db-fs-11':c.isMobile}]">{{item.meeting[c.locProp('name')]}}</span>
                        <span class="db-margin-05-left">{{item.meeting.meetingDate | date:'HH:mm' }}</span>
                    </div>
                    <div class="col-xs-12 col-sm-2 db-flex ng-class:[{'db-padding-05-ver db-fs-11':c.isMobile}]">
                        <div class="db-circle-20 db-brd-1-dark ng-class:[c.mtgStatusClass(item)]"></div>
                        <div class="db-flex-area db-margin-10-left" translate translate-cloak>{{c.statusStringId(item)}}</div>
                    </div>
                    <div class="col-xs-12 col-sm-3 ng-class:[{'db-padding-05-ver db-fs-11':c.isMobile}]">{{item.meeting[c.locProp('agencyName')]}}</div>
                    <div class="col-xs-12 col-sm-3">
                        <button ng-repeat="role in item.meeting.roleIDs | orderBy : '-RoleID' track by $index" ng-disabled="!c.isRoleSupported(role)"
                            type="button" title="{{'STR_MTG_LOGIN' | translate}}" class="btn db-btn-sel db-margin-2 ng-class:[{'btn-block db-fs-12':c.isMobile}]"
                            ng-click="selected({meetingItem:item.meeting, meetingRole:role, personGuid: c.responseData.personGuid })">
                            <div class="db-center">
                                <span translate translate-cloak>{{c.roleNameStrId(role)}}</span>
                                <div class="db-glyph db-glyph-sm db-glyph-dark db-margin-05-left" ng-include="'images/glyph-login.svg'"></div>
                            </div>
                        </button>
                    </div>
                </div>
            </li>
        </ul>

        <div ng-if="c.mtgErr" uib-alert class="alert-danger">
            <div class="db-flex db-center-v">
                <div class="db-glyph db-glyph-error" ng-include="'images/glyph-error.svg'"></div>
                <div class="db-margin-10-left" translate translate-cloak>STR_FAIL_LOADING</div>
            </div>
        </div>
    </div>
</div>
