<div ng-init="leftOpen=true">

    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="nav navbar-nav">
                <span class="glyphicon glyphicon-menu-hamburger btn-lg" aria-hidden="true" ng-click="leftOpen=!leftOpen"></span>
            </div>
            <a class="nav navbar-nav logo-placeholder">
                <img class="logo" alt="Logo" src="images/vaakuna.jpg">
            </a>
            <h3 class="navbar-text ad-navbar-header">{{ac.navbarTitle}}</h3>
            <div class="nav navbar-nav navbar-right">
                <span class="glyphicon glyphicon-menu-hamburger btn-lg" aria-hidden="true" ng-click="rightOpen=!rightOpen"></span>
            </div>
        </div>
    </nav>

    <!-- LEFT SIDEBAR -->
    <div class="left-sidebar" data-ng-swipe-left="leftOpen=false">
         <ui-view name="leftSidebar"></ui-view>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content" ng-class="{'left-menu-open':leftOpen}" ng-swipe-left="leftOpen ? leftOpen=false : rightOpen=true" ng-swipe-right="rightOpen ? rightOpen=false : leftOpen=true">
        <ui-view class="main-view" name="mainContent"></ui-view>
    </div>

    <!-- RIGHT SIDEBAR -->
    <div class="right-sidebar" ng-class="{'right-menu-open':rightOpen}" ng-swipe-right="rightOpen=false">
        <ui-view name="rightSidebar"></ui-view>
    </div>

</div>
