<div class="source-list-modal">
    <div class="db-no-border modal-header db-confirm-header">
        <div class="db-center-v">
            <div class="db-glyph" ng-include="'images/glyph-question.svg'"></div>
            <h3 ng-if="title" class="modal-title db-margin-10-left">{{title | translate}}</h3>
        </div>
    </div>
    <div ng-if="text" class="modal-body">{{text | translate}}</div>
    <div ng-if="option.text" class="checkbox modal-body">
        <label><input type="checkbox" ng-model="option.value">{{option.text | translate}}</label>
    </div>
    <div class="db-no-border modal-footer">
        <button class="btn btn-success db-min-width-120" type="button" ng-click="clicked(true)">{{yes | translate}}</button>
        <button class="btn btn-danger db-min-width-120" type="button" ng-click="clicked(false)">{{no | translate}}</button>
    </div>
</div>
