<div class="db-directive db-spinner-cont">
    <span us-spinner spinner-on="c.loading"></span>

    <div class="db-min-width-300">
        <ul class="list-group db-no-margin" ng-repeat="d in c.types | orderBy : 'decisionOrder' track by $index">
            <div class="list-group-item db-no-padding">
                <h5 class="db-font-clr-white db-prim-bg db-padding-10-hor db-padding-07-ver">{{d.text}}
                    <span class="badge db-white-bg db-font-clr-dark db-margin-05-hor">{{filtered.length}}</span>
                </h5>
                <div class="list-group-item db-no-padding" ng-repeat="i in c.record | filter: { type: d.value } | filter:query as filtered track by $index">
                    <div class="db-flex db-padding-10" ng-click="c.itemSelected(i)">
                        <span class="db-margin-05-right glyphicon ng-class:{'glyphicon-minus': c.isSelected(i), 'glyphicon-plus': !c.isSelected(i)}"
                            aria-hidden="true" tooltip-enable="c.isTooltips" tooltip-placement="right" uib-tooltip="{{'STR_EXPANDCOLLAPSE' | translate}}"></span>
                        <h5 class="db-flex-area">{{i.name}}
                            <span ng-show="c.isSupported(i)">
                                <span class="glyphicon glyphicon-thumbs-up db-margin-05" tooltip-enable="c.isTooltips" uib-tooltip="{{'STR_SUPPORTED' | translate}}" tooltip-placement="right"></span>
                            <span>
                        </h5>
                    </div>
                    <div class="panel-collapse collapse" uib-collapse="!c.isSelected(i)">
                        <div class="db-padding-10-hor">
                            <span translate translate-cloak>STR_SROLE_SUPPORTER</span>:<b ng-repeat="s in c.supporter | filter: { minuteEntryGuid: i.minuteEntryGuid }  | filter:query as filtered2 track by $index">
                            <span ng-if="0 < $index">, </span>
                            <span class="db-margin-05-left">{{s.name}}</span></b><span ng-if="filtered2.length === 0" class="db-margin-05-left">-</span>
                        </div>
                        <div class="db-padding-10-hor db-margin-10-top"><span translate translate-cloak>STR_TEXT</span>:</div>
                        <pre class="db-margin-10-hor">{{i.text}}</pre>
                        <div class="db-padding-10-hor"><span translate translate-cloak>STR_TRANSLATION</span>:</div>
                        <pre class="db-margin-10-hor">{{i.translationText}}</pre>
                    </div>
                </div>
            </div>
        </ul>

        <ul class="list-group">
            <div class="list-group-item db-no-padding">
                <h5 class="db-font-clr-white db-prim-bg db-padding-05" translate translate-cloak>STR_VOTINGS</h5>
            </div>
        </ul>
    </div>

</div>
