<div class="db-directive db-spinner-cont">
    <div ng-show="c.busy">
        <span us-spinner spinner-on="c.busy"></span>
    </div>

    <ul ng-hide="c.busy" class="list-group">

        <div>
            <div class="col-xs-12 col-sm-3 db-no-padding">
                <button type="button" class="btn btn-block db-btn-colhea-dummy db-prim-bg disabled db-btn-list-topleft-xs db-btn-list-topleft-sm db-btn-list-topright-xs">
                <span translate translate-cloak>STR_ROLE</span>
            </button>
            </div>
            <div class="col-xs-12 col-sm-3 db-no-padding">
                <button type="button" class="btn btn-block db-btn-colhea-dummy db-prim-bg disabled">
                <span translate translate-cloak>STR_NAME</span>
            </button>
            </div>
            <div class="col-xs-6 col-sm-3 db-no-padding">
                <button type="button" class="btn btn-block db-btn-colhea-dummy db-prim-bg disabled">
                <span translate translate-cloak>STR_STATUS</span>
            </button>
            </div>
            <div class="col-xs-6 col-sm-3 db-no-padding">
                <button type="button" class="btn btn-block db-btn-colhea-dummy db-prim-bg disabled db-btn-list-topright-sm">
                <span translate translate-cloak>STR_TIME</span>
            </button>
            </div>
        </div>

        <button type="button" class="list-group-item col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <span translate translate-cloak>{{c.initiatorRoleStrId(c.item.DocumentType)}}</span>
            </div>
            <div class="col-xs-12 col-sm-3">
                {{c.item.RequestorName}}
            </div>
            <div class="col-xs-6 col-sm-3">
                <span class="ng-class: [ 'label', c.statusStyle(c.item.Status)]" translate>{{c.statusStrId(c.item.Status)}}</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <span>{{c.item.RequestDate | date:'yyyy-MM-dd HH:mm'}}</span>
            </div>
        </div>
        </button>
        <button type="button" class="list-group-item col-xs-12" ng-repeat="i in c.signers track by $index">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <span translate translate-cloak>{{c.roleStrId(i.role)}}</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    {{i.name}}
                </div>
                <div class="col-xs-6 col-sm-3">
                    <span class="ng-class: [ 'label', c.statusStyle(i.status)]" translate>{{c.statusStrId(i.status)}}</span>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <span>{{i.statusChangedTime | date:'yyyy-MM-dd HH:mm'}}</span>
                </div>
            </div>
        </button>
    </ul>
</div>