<div>
    <div class="modal-header ng-class:{'db-alert-header': c.isError, 'db-confirm-header': !c.isError}">
        <h3>
            <span ng-if="c.isError" class="glyphicon glyphicon-alert"></span>
            <span ng-if="!c.isError" class="glyphicon glyphicon-info-sign"></span>
            &nbsp;
            <span translate translate-cloak>{{c.dbDlgTitleStrId}}</span>
        </h3>
    </div>
    <div class="text-center">
        <span translate translate-cloak>{{c.dbDlgbodyStrId}}</span>
    </div>
    <div class="db-no-border modal-footer">
        <button class="btn db-btn-sel db-btn-big db-brd-all" type="button" ng-click="closeThisDialog()" translate translate-cloak>STR_CLOSE</button>
    </div>
</div>