<div class="ad-page">

    <div class="container">
        <div class="row">
            <ui-view name="homeLeftContent" class="ng-class: ['ad-page-left', 'col-sm-4', 'col-md-3', 'col-lg-2', {'col-xs-12':menuFull(), 'col-xs-9':menuHalf(), 'col-xs-6':menuClosed()}]"></ui-view>

            <ui-view name="homeRightContent" class="ng-class: ['ad-page-right', {'col-xs-6':menuFull(), 'col-sm-8':menuFull(), 'col-md-9':menuFull(), 'col-lg-10':menuFull(), 'col-xs-9':menuHalf(), 'col-sm-10':menuHalf(), 'col-md-11':menuHalf(), 'col-lg-11':menuHalf(), 'col-xs-12':menuClosed()}]"></ui-view>
        </div>
    </div>

    <ui-view name="homeContent"></ui-view>

</div>
