<div class="ad-page">

    <div class="ad-page-header">
        <div class="container col-xs-12">
            <div class="row">
                <i class="col-xs-1 glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></i>
                <h3 class="col-xs-10">Info</h3>
            </div>
        </div>
    </div>

    <div class="ad-page-content">

        <div class="ad-page-container">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin est urna, sagittis eget faucibus sed, dignissim eu eros. Quisque ac mauris fermentum, fermentum metus sit amet, luctus nisl. Pellentesque nec rhoncus est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur eu posuere eros. Aenean semper interdum justo vel semper. Mauris neque dolor, blandit et sapien in, tristique feugiat ligula. Praesent ut nunc id nibh luctus venenatis. Proin sollicitudin vehicula tellus, quis euismod mi sodales id. Donec egestas sit amet nisl sit amet dignissim.

            Nam id elit placerat, gravida purus eu, tempus leo. Aenean nec facilisis augue. Ut scelerisque ex iaculis mi viverra egestas. Ut vitae vestibulum ligula, sit amet consequat nunc. Donec eget risus ac ligula porttitor lobortis eu sit amet nisi. Proin eleifend mollis ante non condimentum. Mauris vitae massa laoreet, malesuada erat quis, scelerisque nibh.

            Quisque a velit et odio luctus sollicitudin eget et sem. Suspendisse consectetur enim ac tellus tempus ultrices. Pellentesque rhoncus ipsum felis, non egestas neque lacinia nec. Nulla vestibulum tristique feugiat. Cras sodales justo in erat ornare, in dapibus lacus maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed finibus diam et consequat vestibulum. Vivamus ante neque, hendrerit non lorem eget, porta sodales urna. Cras scelerisque posuere magna eget tincidunt. Nullam ac felis non leo tempor imperdiet. Nunc vitae tellus dolor.

            Ut mauris mauris, imperdiet at lobortis nec, egestas quis orci. Donec volutpat ipsum eget elit rhoncus mollis. Mauris vel quam ipsum. Nullam ut condimentum arcu, viverra congue est. Nullam in metus consequat quam posuere vestibulum condimentum sit amet elit. Donec velit neque, bibendum vel sapien et, consequat luctus libero. Sed mollis congue varius. Nam eu dignissim lorem. Pellentesque nunc est, sollicitudin ut mi in, varius tincidunt libero. Quisque sit amet dictum purus, in tincidunt orci.

            Ut vitae ante et lacus gravida condimentum. Aliquam sed diam non est blandit aliquet ac a est. Suspendisse quam lorem, pulvinar ut faucibus eu, suscipit vitae quam. Donec pellentesque hendrerit fringilla. Morbi aliquet diam et orci molestie dictum. Aenean a erat sit amet turpis tincidunt sagittis. Praesent molestie felis sit amet lacus accumsan, sed finibus nisl sollicitudin. Aliquam lobortis, lacus a facilisis efficitur, mauris nulla euismod dolor, at pharetra quam libero in sem. Nullam egestas tellus a massa placerat accumsan. Phasellus consequat non lorem et pulvinar. Aliquam erat volutpat. Praesent sit amet posuere libero, a vehicula mauris. Suspendisse sit amet elementum tellus. Aenean porta tempus viverra. Suspendisse risus ex, imperdiet id nulla interdum, tempor porttitor turpis. Morbi viverra sem at tristique tempor.
        </div>

    </div>

</div>
