<div class="ad-page">

    <div class="ad-page-header db-center">
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></i>
        <h4 translate translate-cloak>{{ctrl.data.title}}</h4>
    </div>

    <div class="ad-page-content">
        <div class="ad-page-container">
            <ul class="list-group">
                <button ng-repeat="object in ctrl.data.objects track by $index" type="button" class="list-group-item ng-class:[{'disabled':object.publicity === ctrl.publicity.SECRET}]" ng-click="ctrl.select(object)">{{object.title}}</button>
            </ul>
        </div>
    </div>

</div>

<ui-view ng-if="isMobile" name="listContent"></ui-view>
