<div class="ad-page">

    <div class="ad-page-header db-center">
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></i>
        <h4 translate translate-cloak>{{ctrl.data.title}}</h4>
    </div>

    <div class="ad-page-content">
        <div class="ad-mob-page-container">
            <ul class="list-group db-tablist">
                <db-link ng-repeat="object in ctrl.data.objects track by $index" ng-attr-config="{class:'list-group-item', title:object.title}"
                ng-attr-uri="object.link"></db-link>
            </ul>
        </div>
    </div>

</div>

<ui-view ng-if="isMobile" name="listContent"></ui-view>
