<div class="ad-page">

    <div class="ad-page-header db-center">
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></i>
        <h4 translate translate-cloak>{{c.data.title}}</h4>
    </div>

    <div class="ad-page-content">
        <div class="ad-mob-page-container">
            <ul class="list-group db-attlist">

                <li ng-repeat="i in c.data.objects track by $index">
                    <db-link ng-if="!c.isAttConf(i)" ng-attr-config="{ title: i.orderNum + '&nbsp;' + i.title, class:'list-group-item' }" ng-attr-uri="i.link">
                    </db-link>

                    <button ng-if="c.isAttConf(i)" class="btn btn-block btn-lg" ng-click="c.goToFile(i)">
                        <img ng-src="../images/conf-lock.png">
                        <span>{{i.orderNum}}&nbsp;{{i.title}}</span>
                    </button>
                </li>

            </ul>
        </div>
    </div>

</div>

<ui-view ng-if="isMobile" name="listContent"></ui-view>
