<div class="ad-page-header">
    <div class="ad-page-header db-center-v">
        <img src="images/vaakuna.jpg">
        <h4 class="visible-xs-block" translate>STR_APPNAME</h4>
        <h3 class="hidden-xs" translate>STR_APPNAME</h3>
    </div>
</div>
<div class="ad-page-content">
    <div class="ad-page-container">
        <div class="container col-xs-12">
            <div class="row text-center">

                <div class="db-error">
                    <h4>Testiympäristön käyttäjävalinta</h4>
                    <br>
                    <p>
                        Voit valita käyttäjätunnuksen, jolle haetaan testiympäristön kokousten sisältö.
                        <br>Sähköiset allekirjoitukset haetaan silti omalla tunnuksellasi
                    </p>
                </div>

                <form ng-hide="lc.login || lc.loadingUsers">
                    <select db-selection sel-items="lc.data.options" ng-model="lc.data.selection">
                    </select>
                    <br><br>
                    <button ng-disabled="!lc.data.selection || lc.login || lc.loadingUsers" class="btn db-btn-succ" type="submit" ng-click="lc.select()"
                        ng-disabled="lc.login">
                        <span translate translate-cloak>{{'STR_LOGIN'}}</span>
                    </button>
                </form>

                <uib-progressbar ng-show="lc.login || lc.loadingUsers" class="progress-striped active" type="info">
                    <span ng-if="lc.loadingUsers">Haetaan käyttäjätunnuksia</span>
                    <span ng-if="lc.login"><span>Kirjaudutaan tunnuksella &quot;</span><span>{{lc.data.selection}}</span><span>&quot;</span>
                </uib-progressbar>

                <uib-alert ng-if="lc.error" type="danger">
                    <span translate-cloak translate>STR_FAIL_LOADING</span>&nbsp;<span translate>STR_TRY_LATER</span>
                    <br>{{lc.error.status}}&nbsp;{{lc.error.statusText}}
                </uib-alert>

            </div>

            <br><br>

            <div class="row text-center">
                <div class="db-error">
                    Vaihtoehtoisesti voit kirjautua myös omalla tunnuksellasi
                    <br>
                    <button type="button" class="btn db-btn-succ" ng-click="goHome()" ng-disabled="lc.login">Kirjaudu omalla</button>
                </div>
            </div>

        </div>
    </div>
</div>
