<div class="ad-page">

    <div ng-if="!msc.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn db-btn-prim glyphicon glyphicon-th-list" ng-click="closeMenu()" tooltip-enable="isTooltips"
            uib-tooltip="{{'STR_INFO_MENUBTN' | translate}}" tooltip-placement="right">
        </button>
        <button db-confirm confirm-enabled="msc.hasUnsavedData" confirm-config="msc.unsavedConfig" type="button" class="btn db-btn-prim glyphicon glyphicon-log-out"
            ng-click="msc.logOut(msc.meetingItem, msc.meetingRole)" tooltip-enable="isTooltips" uib-tooltip="{{'STR_MTG_LOGOUT' | translate}}" tooltip-placement="right">
        </button>
        <button type="button" class="btn db-btn-prim glyphicon glyphicon-info-sign disabled" ng-click="">
        </button>
        <button type="button" class="btn db-btn-prim glyphicon ng-class:[{'glyphicon-resize-vertical':parallelMode},{'glyphicon-resize-horizontal':!parallelMode}]"
            ng-click="msc.toggleParallelMode()" ng-disabled="!msc.parallelModeActive" tooltip-enable="isTooltips" uib-tooltip="{{parallelMode ? 'STR_INFO_VIEW_VERT' : 'STR_INFO_VIEW_HORIZ' | translate}}"
            tooltip-placement="right">
        </button>
    </div>

    <div ng-if="msc.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn btn-lg db-btn-prim db-no-margin glyphicon glyphicon-menu-left" ng-click="goHome()">
        </button>
        <h4 translate translate-cloak>STR_TOPIC_LIST</h4>
    </div>

    <div class="ad-page-content">
        <ul class="list-group">

            <div class="db-list-group-item-prim" tooltip-enable="isTooltips" uib-tooltip="{{msc.uiName}}" tooltip-placement="top">
                <h4 class="db-margin-10-bottom">{{msc.uiName}}</h4>
            </div>
            <div ng-if='msc.loading' class="list-group-item">
                <uib-progressbar class="progress-striped active db-no-margin" type="info">
                    <span translate translate-cloak>STR_LOADING_DATA</span>
                </uib-progressbar>
            </div>
            <div ng-if='!msc.loading' class="list-group-item db-prim-bg db-padding-05">
                <button type="button" class="btn btn-block db-brd-all db-flex ng-class:[{'db-btn-sel':msc.chairman},{'db-no-pointer-events db-btn-prim':!msc.chairman}]"
                    ng-click="msc.changeMeetingStatus()">
                    <span class="badge db-flex-area ng-class:[msc.mtgStatusClass(msc.meeting)]" style="font-size:1.2em;" translate translate-cloak>{{msc.stringId(msc.meeting)}}</span>
                </button>
            </div>

            <div class="list-group-item ng-class:[{'db-opt-bg db-font-clr-white': (msc.isSelected(topic) && !msc.isMobile), 'db-item-disabled': !msc.canAccess(topic)}]"
                style="overflow: hidden;" ng-repeat="topic in msc.meeting.topicList track by $index">
                <div class="db-flex" db-confirm confirm-enabled="msc.hasUnsavedData && !msc.isSelected(topic)" confirm-config="msc.unsavedConfig"
                    ng-click="msc.topicSelected(topic)">
                    <div class="db-min-width-22 db-center-v">
                        <div class="db-iconwrapper">
                            <img ng-src="{{msc.statusIcon(topic)}}">
                            <img ng-show="topic.includePublishedRemark" ng-src="images/mtg-states/prop-indicator.png">
                            <img ng-show="{{!msc.isTopicPublic(topic)}}" ng-src="images/mtg-states/conf-indicator.png">
                        </div>
                    </div>
                    <div ng-show="topic.isModified" class="db-min-width-22 db-center">
                        <span class="glyphicon glyphicon-bell db-newprops db-fs-12" aria-hidden="true"></span>
                    </div>
                    <h5 class="db-flex-area db-margin-10-hor db-center-v" tooltip-enable="isTooltips" uib-tooltip-template="'topicTooltipTpl.html'"
                        tooltip-class="db-tooltip" tooltip-placement="top-left">
                        {{topic.topicreference}} {{topic.topicTitle}}
                    </h5>
                </div>
            </div>
        </ul>
    </div>

</div>

<script type="text/ng-template" id="topicTooltipTpl.html">
    <span>{{topic.topicreference}}&nbsp;{{topic.topicTitle}}
        <br><br>
        {{msc.topicStatusText(topic )| translate}}
    </span>
</script>

<ui-view ng-if="msc.isMobile" name="detailsContent"></ui-view>
