<div class="ad-page">

    <div ng-if="c.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn btn-lg db-btn-prim db-no-margin" ng-click="goBack()">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
        <h4 translate translate-cloak>STR_TOPIC</h4>
    </div>

    <div class="ng-class:[{'ad-page-container-flex-row':parallelMode && !c.isMobile},{'ad-page-container-flex':!parallelMode && !c.isMobile},{'ad-page-container-flex':!parallelMode && !c.isMobile},{'ad-page-content':c.isMobile}]">

        <!-- PRIMARY BLOCK START -->
        <div ng-if="c.pm === c.pms.DEFAULT || c.pm === c.pms.SECRET" class="db-block ng-class:[{'db-block-close db-brd-all':c.bm === c.bms.SECONDARY},{'db-block-open':c.bm !== c.bms.SECONDARY},{'db-margin-05':!c.isMobile}]">

            <!-- PRIMARY BLOCK HEADER -->
            <div class="db-flex db-flex-wrap db-prim-bg db-brd-top db-padding-2">
                <div class="btn-group db-flex-area">
                    <button ng-if="menuClosed()" type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2" ng-click="openMenu()"
                        tooltip-enable="isTooltips" uib-tooltip="{{'STR_INFO_MENUBTN' | translate}}" tooltip-placement="right">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                    <button ng-if="menuClosed()" type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2" ng-click="c.toggleParallelMode()"
                        tooltip-enable="isTooltips" uib-tooltip="{{parallelMode ? 'STR_INFO_VIEW_VERT' : 'STR_INFO_VIEW_HORIZ' | translate}}"
                        tooltip-placement="right">
                        <span class="glyphicon ng-class:[{'glyphicon-resize-vertical':parallelMode},{'glyphicon-resize-horizontal':!parallelMode}]"></span>
                    </button>
                    <button ng-if="!parallelMode" type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2" ng-click="c.primaryClicked()"
                        tooltip-enable="isTooltips" tooltip-placement="right" uib-tooltip="{{'STR_EXPANDCOLLAPSE' | translate}}">
                        <span class="glyphicon ng-class:[{'glyphicon-minus':c.bm === c.bms.PRIMARY},{'glyphicon-plus':c.bm !== c.bms.PRIMARY}]"></span>
                    </button>
                    <button type="button" class="btn db-btn-sel db-btn-big db-brd-all db-margin-2 active db-no-pointer-events">
                        <span translate translate-cloak>STR_PRESENTATION</span>
                    </button>
                </div>
                <button ng-if="c.pm !== c.pms.SECRET" type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2 db-flex-right"
                    ng-click="c.newTab(c.tData.link)" ng-disabled="!c.tData || !c.tData.link" tooltip-enable="isTooltips" uib-tooltip="{{'STR_OPEN_NEW_TAB' | translate}}"
                    tooltip-placement="bottom">
                    <span class="glyphicon glyphicon-new-window"></span>
                </button>
            </div>

            <!-- PRIMARY BLOCK CONTENT -->
            <div class="db-block-content db-block-border db-brd-bottom">
                <db-pdf ng-if="c.pm === c.pms.DEFAULT" ng-attr-uri="c.primaryUrl"></db-pdf>
                <db-imgviewer ng-if="c.pm === c.pms.SECRET" file-conf="c.tData"></db-imgviewer>
                <div ng-if="c.error" class="alert alert-danger" role="alert">{{c.error}}</div>
            </div>

        </div>
        <!-- PRIMARY BLOCK END -->

        <!-- SECONDARY BLOCK START -->
        <div class="db-block ng-class:[{'db-block-close db-brd-all':c.bm === c.bms.PRIMARY},{'db-block-open':c.bm !== c.bms.PRIMARY},{'db-margin-05':!c.isMobile}]">

            <div ng-if="c.isMobile && c.header" class="list-group db-no-margin">
                <H5 class="db-list-group-item-prim db-truncate" ng-cloak>{{c.header}}</H5>
            </div>

            <!-- SECONDARY BLOCK HEADER -->
            <div class="db-prim-bg ng-class:[{'list-group db-no-margin db-padding-10 db-brd-all':c.isMobile},{'btn-group db-flex-wrap db-brd-top db-padding-2':!c.isMobile}]">
                <button ng-if="menuClosed() && c.pm === c.pms.HIDDEN" type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2"
                    ng-click="openMenu()" tooltip-enable="isTooltips" uib-tooltip="{{'STR_INFO_MENUBTN' | translate}}" tooltip-placement="right">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
                <button ng-if="c.pm !== c.pms.HIDDEN && !parallelMode" type="button" class="btn btn-block db-btn-prim db-btn-small db-brd-all ng-class:[{'db-margin-2':!c.isMobile}]"
                    ng-click="c.secondaryClicked()" tooltip-enable="isTooltips" tooltip-placement="right" uib-tooltip="{{'STR_EXPANDCOLLAPSE' | translate}}">
                    <span class="glyphicon ng-class:[{'glyphicon-minus':c.bm === c.bms.SECONDARY},{'glyphicon-plus':c.bm !== c.bms.SECONDARY}]"></span>
                </button>
                <button ng-if="c.pm === c.pms.HIDDEN" type="button" class="btn btn-block db-btn-sel db-btn-big db-brd-all ng-class:[{'db-margin-2':!c.isMobile},{'active':c.sm === c.sms.SECRET}]"
                    ng-disabled="!c.tData.link" ng-click="c.presentationClicked(c.tData)">
                    <span translate translate-cloak>STR_PRESENTATION</span>
                </button>
                <button type="button" class="btn btn-block db-btn-sel db-btn-big db-brd-all ng-class:[{'active':c.sm === c.sms.ATTACHMENTS},{'db-margin-2':!c.isMobile}]"
                    ng-disabled="!c.materialCount()" db-confirm confirm-enabled="c.hasUnsavedProposal || c.remarkIsUnsaved" confirm-config="c.unsavedConfig"
                    ng-click="c.attachmentClicked()">
                    <span translate translate-cloak>STR_OTHER_MATERIAL</span>
                    <span class="badge ng-cloak ng-class:[{'db-font-clr-dark': c.materialCount()}]" tooltip-enable="isTooltips" uib-tooltip="{{'STR_ALL_ATT_COUNT' | translate}}" tooltip-placement="bottom">
                        {{c.materialCount()}}
                        </span>
                </button>
                <button type="button" class="btn btn-block db-btn-sel db-btn-big db-brd-all ng-class:[{'active':c.sm === c.sms.PROPOSALS},{'db-margin-2':!c.isMobile}]"
                    db-confirm confirm-enabled="c.hasUnsavedProposal || c.remarkIsUnsaved" confirm-config="c.unsavedConfig" ng-click="c.proposalsClicked()">
                    <span translate translate-cloak>STR_PROPOSALS</span>
                    <span ng-if="c.topic.db_publishedProposalCount >= 0" class="badge ng-cloak db-font-clr-dark" tooltip-enable="isTooltips"
                    uib-tooltip="{{'STR_PROP_PUB_COUNT' | translate}}" tooltip-placement="bottom">
                        {{c.topic.db_publishedProposalCount}}
                    </span>
                    <span ng-show="c.topic.isModified" class="glyphicon glyphicon-bell db-newprops" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-block db-btn-sel db-btn-big db-brd-all ng-class:[{'active':c.sm === c.sms.REMARK},{'db-margin-2':!c.isMobile}]"
                    db-confirm confirm-enabled="c.hasUnsavedProposal || c.remarkIsUnsaved" confirm-config="c.unsavedConfig" ng-click="c.remarkClicked()">
                    <span translate translate-cloak>STR_REMARK</span>
                </button>
                <button ng-if="c.isChairman" type="button" class="btn btn-block db-btn-sel db-btn-big db-brd-all ng-class:[{'active':c.sm === c.sms.DECISIONS},{'db-margin-2':!c.isMobile}]"
                    db-confirm confirm-enabled="c.hasUnsavedProposal || c.remarkIsUnsaved" confirm-config="c.unsavedConfig" ng-click="c.decisionsClicked()">
                    <span translate translate-cloak>STR_DECISIONS</span>
                </button>
                <button type="button" class="btn btn-block db-btn-sel db-btn-big db-brd-all ng-class:[{'active':c.sm === c.sms.MOTIONS},{'db-margin-2':!c.isMobile}]"
                    db-confirm confirm-enabled="c.hasUnsavedProposal || c.remarkIsUnsaved" confirm-config="c.unsavedConfig" ng-click="c.motionsClicked()">
                    <span translate translate-cloak>STR_MOTIONS</span>
                </button>
            </div>

            <!-- SECONDARY BLOCK CONTENT -->
            <div ng-hide="c.selData" class="db-block-content db-brd-bottom ng-class:[{'db-block-border':!c.isMobile},{'db-padding-15':c.isMobile}]">
                <db-pdf ng-if="!c.isMobile && (c.sm === c.sms.ATTACHMENTS || c.sm === c.sms.MATERIALS) && !c.isSecret(c.secondaryAtt)" ng-attr-uri="c.secondaryUrl"></db-pdf>
                <db-imgviewer ng-if="(c.sm === c.sms.ATTACHMENTS || c.sm === c.sms.MATERIALS) && c.isSecret(c.secondaryAtt)" file-conf="c.secondaryAtt"></db-imgviewer>
                <db-imgviewer ng-if="c.sm === c.sms.SECRET" file-conf="c.tData"></db-imgviewer>
                <db-remark ng-if="c.sm === c.sms.REMARK" topic="c.topic"></db-remark>
                <db-proposal-list ng-if="c.sm === c.sms.PROPOSALS" topic="c.topic"></db-proposal-list>
                <db-decisions ng-if="c.sm === c.sms.DECISIONS"></db-decisions>
                <db-motions ng-if="c.sm === c.sms.MOTIONS"></db-motions>
            </div>
            <div ng-hide="!c.selData" class="db-block-content db-brd-bottom ng-class:[{'db-block-border':!c.isMobile},{'db-padding-15':c.isMobile}]">
                <db-selection-list ng-attr-sel-data="c.selData" ng-attr-on-select="c.selectionClicked(data)"></db-selection-list>
            </div>

        </div>
        <!-- SECONDARY BLOCK END -->

    </div>

</div>
