<div class="ad-page">

    <div class="ad-page-header ad-lower-bg">
        <div class="container col-xs-12 ad-lower-bg">
            <div class="row">
                <div ng-if="menuClosed()" class="col-xs-1 ad-upper-bg">
                    <i class="glyphicon glyphicon-menu-right left" aria-hidden="true" ng-click="openMenu()"></i>
                </div>

                <div class="col-xs-3 col-md-2 btn-group ad-upper-bg" uib-dropdown is-open="">
                    <button id="modeButton" type="button" class="ng-class: ['btn', 'btn-primary', 'ad-button']" uib-dropdown-toggle>
                        <div>Esitys</div>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="modeButton">
                        <li role="menuitem" ng-click="mc.upperClicked()">
                            <a ng-if="!mc.isUpperMode()">Laajenna</a>
                            <a ng-if="mc.isUpperMode()">Pienennä</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3 col-md-2 btn-group ad-lower-bg" uib-dropdown is-open="">
                    <button id="attachmentButton" type="button" class="ng-class: ['btn', 'btn-primary', 'ad-button']" uib-dropdown-toggle>
                        <div>Liitteet</div>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="attachmentButton">
                        <li role="menuitem" ng-click="mc.lowerClicked()">
                            <a ng-if="!mc.isLowerMode()">Laajenna</a>
                            <a ng-if="mc.isLowerMode()">Pienennä</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3 col-md-2 btn-group ad-lower-bg" uib-dropdown is-open="">
                    <button id="materialButton" type="button" class="ng-class: ['btn', 'btn-primary', 'ad-button']" uib-dropdown-toggle>
                        <div>Muu materiaali</div>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="materialButton">
                        <li role="menuitem"><a ng-click="">First</a></li>
                        <li role="menuitem"><a ng-click="">Second</a></li>
                    </ul>
                </div>
                <div class="col-xs-3 col-md-2 btn-group ad-lower-bg">
                    <button id="proposalButton" type="button" class="ng-class: ['btn', 'btn-primary', 'ad-button']">
                        <div>Ehdotukset</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="ad-page-content">

        <div class="ad-page-container-flex">

            <!-- UPPER START -->
            <div class="ad-flex-item-upper ng-class:[{'ad-flex-show-full':mc.blockMode === 1, 'ad-flex-show':mc.blockMode === 0, 'ad-flex-hide':mc.blockMode === 2}]">

                <ad-embedded-file id="embeddedFirst" refresh="mc.blockMode" ng-attr-fileurl="'http://www.orimi.com/pdf-test.pdf'" filename="'http://www.orimi.com/pdf-test.pdf'"></ad-embedded-file>

                <div ng-if="mc.error" class="alert alert-danger" role="alert">{{mc.error}}</div>
            </div>
            <!-- UPPER END -->

            <!-- LOWER START -->
            <div class="ad-flex-item-lower ng-class:[{'ad-flex-show-full':mc.blockMode === 2, 'ad-flex-show':mc.blockMode === 0, 'ad-flex-hide':mc.blockMode === 1}]">

                <ad-embedded-file id="embeddedSecond" refresh="mc.blockMode"  ng-attr-fileurl="'http://www.pdf995.com/samples/pdf.pdf'" filename="'http://www.orimi.com/pdf-test.pdf'"></ad-embedded-file>

            </div>
            <!-- LOWER END -->

        </div>
    </div>

</div>
