<div class="ad-page">

    <div class="ad-page-header">
        <div class="container col-xs-12">
            <div class="row">
                <h3 ng-if="msc.mobile" class="col-xs-10">{{msc.title}}</h3>
                <i ng-if="menuFull()" class="col-xs-1 col-sm-3 glyphicon glyphicon-info-sign left" aria-hidden="true" ng-click="msc.showInfo()"></i>
                <i ng-if="menuFull()" ng-if="!msc.mobile" class="col-sm-3 glyphicon glyphicon-home left" aria-hidden="true" ng-click="msc.goHome()"></i>
                <i ng-if="!msc.mobile" class="col-sm-3 glyphicon glyphicon-menu-left left" aria-hidden="true" ng-click="closeMenu()"></i>
                <i ng-if="!msc.mobile" class="col-sm-3 glyphicon glyphicon-menu-right left" aria-hidden="true" ng-click="openMenu()"></i>
            </div>
        </div>
    </div>

    <div class="ad-page-content">

        <button type="button" class="ng-class: ['btn', 'btn-primary', 'btn-lg']" ng-click="">{{msc.object.meetingTitle}} <span class="badge">8</span>
        </button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="">Kokousstatus <span class="badge">9</span>
        </button>

    </div>

</div>
