<div class="ad-page-header">
    <div class="container">
        <div class="row">
            <i class="col-xs-1 glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></i>

            <div class="col-xs-10 btn-group right" uib-dropdown is-open="">
                <button id="meetingButton" type="button" class="ng-class: ['btn', 'btn-primary', 'ad-button', {'loading':ctrl.loading}]" uib-dropdown-toggle>
                    <div ng-if="mlc.future">Tulevat kokoukset</div>
                    <div ng-if="!mlc.future">Kaikki kokoukset</div>
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="meetingButton">
                    <li role="menuitem"><a ng-click="mlc.future=true">Tulevat kokoukset</a></li>
                    <li role="menuitem"><a ng-click="mlc.future=false">Kaikki kokoukset</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="ad-page-content">
	<ad-meetings future="mlc.future">
	</ad-meetings>
</div>
