<div class="ad-page">

    <div ng-if="!isMobile" class="ad-page-header">
        <div class="container col-xs-12 ad-upper-bg">
            <div class="row">
                <!-- UPPER HEADER START -->
                <div ng-if="menuClosed()" class="col-xs-1">
                    <i class="glyphicon glyphicon-menu-hamburger left" aria-hidden="true" ng-click="openMenu()"></i>
                </div>
                <div class="col-md-1 btn-group ad-upper-bg ng-class:[{'col-sm-1':menuClosed(), 'col-sm-2':!menuClosed()}]">
                    <button type="button" class="btn db-btn-prim btn-block" ng-click="ctrl.upperClicked()">
                        <i class="glyphicon center ng-class:[{'glyphicon-plus': !ctrl.isUpperMode(), 'glyphicon-minus': ctrl.isUpperMode()}]"></i>
                    </button>
                </div>
                <!-- UPPER HEADER END -->

                <!-- LOWER HEADER START -->
                <div class="col-md-1 btn-group ad-lower-bg right ng-class:[{'col-sm-1':menuClosed(), 'col-sm-2':!menuClosed()}]">
                    <button type="button" class="btn db-btn-prim btn-block" ng-click="ctrl.lowerClicked()">
                        <i class="glyphicon center ng-class:[{'glyphicon-plus': !ctrl.isLowerMode(), 'glyphicon-minus': ctrl.isLowerMode()}]"></i>
                    </button>
                </div>
                <div class="col-xs-2 btn-group ad-lower-bg right">
                    <button type="button" class="btn db-btn-prim btn-block disabled" ng-click="" translate translate-cloak>STR_OWN_NOTES</button>
                </div>
                <div class="col-xs-2 btn-group ad-lower-bg right">
                    <button type="button" class="btn db-btn-prim btn-block ng-class:[{'active': (ctrl.isActive(ctrl.lbms.PROPOSALS) && !ctrl.isUpperMode())}]"
                    translate translate-cloak>STR_PROPOSALS</button>
                </div>
                <div class="col-xs-2 btn-group ad-lower-bg right" uib-dropdown is-open="">
                    <button id="materialButton" type="button" data-ng-disabled="(!ctrl.amData.objects.length && !ctrl.dData.objects.length)"
                    class="btn db-btn-prim btn-block ng-class:[{'active': (ctrl.isActive(ctrl.lbms.MATERIALS) && !ctrl.isUpperMode())}]" uib-dropdown-toggle>
                        <span translate translate-cloak>STR_OTHER_MATERIAL</span>
                        <span ng-if="(ctrl.amData.objects.length && ctrl.dData.objects.length)" class="badge ng-cloak hidden-sm">{{ctrl.amData.objects.length + ctrl.dData.objects.length}}</span>
                        <span ng-if="(ctrl.amData.objects.length && ctrl.dData.objects.length)" class="caret hidden-sm"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="materialButton">
                        <div class="ad-dropdown-header" translate translate-cloak>STR_ADDITIONAL_MATERIAL</div>
                        <li class="divider"></li>
                        <li class="ng-class:[{'disabled': ctrl.isSecret(material)}]" role="menuitem" ng-repeat="material in ctrl.amData.objects track by $index"
                        ng-click="ctrl.additionalMaterialClicked(material)">
                            <a class="ad-dropdown-content">{{material.title}}</a>
                        </li>
                        <li class="divider"></li>
                        <div class="ad-dropdown-header" translate translate-cloak>STR_DECISION_HISTORY</div>
                        <li class="divider"></li>
                        <li class="ng-class:[{'disabled': ctrl.isSecret(decision)}]" role="menuitem" ng-repeat="decision in ctrl.dData.objects track by $index"
                        ng-click="ctrl.decisionClicked(decision)">
                            <a>{{decision.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2 btn-group ad-lower-bg right" uib-dropdown is-open="">
                    <button id="attachmentButton" type="button" data-ng-disabled="!ctrl.aData.objects.length" class="btn db-btn-prim btn-block ng-class:[{'active': (ctrl.isActive(ctrl.lbms.ATTACHMENTS) && !ctrl.isUpperMode())}]"
                    uib-dropdown-toggle>
                        <span translate translate-cloak>STR_ATTACHMENTS</span>
                        <span ng-if="ctrl.aData.objects.length" class="badge ng-cloak hidden-sm">{{ctrl.aData.objects.length}}</span>
                        <span ng-if="ctrl.aData.objects.length" class="caret hidden-sm"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="attachmentButton">
                        <li class="ng-class:[{'disabled': ctrl.isSecret(attachment)}]" role="menuitem" ng-repeat="attachment in ctrl.aData.objects track by $index"
                        ng-click="ctrl.attachmentClicked(attachment)">
                            <a>{{attachment.title}}</a>
                        </li>
                    </ul>
                </div>
                <!-- LOWER HEADER END -->
            </div>
        </div>
    </div>

    <div ng-if="isMobile" class="ad-page-header db-center">
        <i class="glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></i>
        <h4 ng-class="ng-cloak">{{ctrl.header}}</h4>
    </div>

    <div ng-if="!isMobile" class="ad-page-content">

        <div class="ad-page-container-flex">

            <!-- UPPER START -->
            <div class="ad-flex-item-upper ng-class:[{'ad-flex-show-full': ctrl.isUpperMode(), 'ad-flex-show': ctrl.isBothMode(), 'ad-flex-hide': ctrl.isLowerMode()}]">

                <ad-embedded-file ng-if="ctrl.isUrlString(ctrl.upperUrl)" refresh="ctrl.blockMode" ng-attr-fileurl="ctrl.upperUrl" ng-attr-filename="ctrl.upperUrl"></ad-embedded-file>

                <div ng-if="ctrl.error" class="alert alert-danger" role="alert">{{ctrl.error}}</div>
            </div>
            <!-- UPPER END -->

            <!-- LOWER START -->
            <div class="ad-flex-item-lower ng-class:[{'ad-flex-show-full': ctrl.isLowerMode(), 'ad-flex-show': ctrl.isBothMode(), 'ad-flex-hide': ctrl.isUpperMode()}]">

                <ad-embedded-file ng-if="ctrl.showEmbeddedFile(ctrl.lowerUrl)" refresh="ctrl.blockMode" ng-attr-fileurl="ctrl.lowerUrl" ng-attr-filename="ctrl.lowerUrl"></ad-embedded-file>
                <db-proposals ng-if="ctrl.isActive(ctrl.lbms.PROPOSALS)" guid="ctrl.topic.topicGuid"></db-proposals>

            </div>
            <!-- LOWER END -->

        </div>
    </div>

    <div ng-if="isMobile" class="ad-page-content">
        <div class="ad-page-container">
            <button type="button" ng-disabled="!ctrl.tData" class="btn btn-info btn-lg btn-block wrap-button-text db-btn-prim" ng-click="ctrl.topicClicked()"
            translate translate-cloak>STR_TOPIC</button>
            <button type="button" ng-disabled="!ctrl.aData.objects.length" class="btn btn-info btn-lg btn-block wrap-button-text db-btn-prim"
            ng-click="ctrl.attachmentClicked()"><span translate translate-cloak>STR_ATTACHMENTS</span> <span class="badge">{{ctrl.aData.objects.length}}</span></button>
            <button type="button" ng-disabled="!ctrl.amData.objects.length" class="btn btn-info btn-lg btn-block wrap-button-text db-btn-prim ng-class:[{'disabled': !ctrl.amData.objects.length}]"
            ng-click="ctrl.additionalMaterialClicked()"><span translate translate-cloak>STR_ADDITIONAL_MATERIAL</span> <span class="badge">{{ctrl.amData.objects.length}}</span></button>
            <button type="button" ng-disabled="!ctrl.dData.objects.length" class="btn btn-info btn-lg btn-block wrap-button-text db-btn-prim"
            ng-click="ctrl.decisionClicked()"><span translate translate-cloak>STR_DECISION_HISTORY</span> <span class="badge">{{ctrl.dData.objects.length}}</span></button>
            <button type="button" class="btn btn-info btn-lg btn-block wrap-button-text db-btn-prim" ng-click="ctrl.proposalsClicked()"
            translate translate-cloak>STR_PROPOSALS</button>
        </div>
    </div>

</div>

<ui-view ng-if="isMobile" name="childContent"></ui-view>
