<div class="ad-page">

    <div class="ad-page-header ad-lower-bg">
        <div class="container col-xs-12 ad-lower-bg">
            <div class="row">
                <div ng-if="menuClosed()" class="col-xs-1 ad-upper-bg">
                    <i class="glyphicon glyphicon-menu-right left" aria-hidden="true" ng-click="openMenu()"></i>
                </div>

                <div class="col-xs-3 col-md-2 btn-group ad-upper-bg" uib-dropdown is-open="">
                    <button id="modeButton" type="button" class="ng-class: ['btn', 'btn-primary', 'ad-button']" uib-dropdown-toggle>
                        <div>Esitys</div>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="modeButton">
                        <li role="menuitem" ng-click="mc.upperClicked()">
                            <a>First</a>
                            <a>Second</a>
                        </li>
                    </ul>
                </div>
                <div class="hidden-xs col-xs-1 btn-group ad-upper-bg">
                    <button type="button" class="btn btn-info ad-button" ng-click="mc.upperClicked()">
                        <i class="glyphicon center ng-class:[{'glyphicon-plus':!mc.isUpperMode(), 'glyphicon-minus':mc.isUpperMode()}]"></i>
                    </button>
                </div>
                <div class="col-xs-3 col-md-2 btn-group ad-lower-bg" uib-dropdown is-open="">
                    <button id="attachmentButton" type="button" class="btn btn-primary ad-button" uib-dropdown-toggle>
                        <div>Liitteet</div>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="attachmentButton">
                        <li role="menuitem" ng-click="mc.lowerClicked()">
                            <a>First</a>
                            <a>Second</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3 col-md-2 btn-group ad-lower-bg" uib-dropdown is-open="">
                    <button id="materialButton" type="button" class="btn btn-primary ad-button" uib-dropdown-toggle>
                        <div>Muu materiaali</div>
                        <span class="caret"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="materialButton">
                        <li role="menuitem"><a ng-click="">First</a></li>
                        <li role="menuitem"><a ng-click="">Second</a></li>
                    </ul>
                </div>
                <div class="col-xs-3 col-md-2 btn-group ad-lower-bg">
                    <button id="proposalButton" type="button" class="btn btn-primary ad-button">
                        <div>Ehdotukset</div>
                    </button>
                </div>

                <div class="hidden-xs col-xs-1 btn-group ad-lower-bg right">
                    <button type="button" class="btn btn-info ad-button" ng-click="mc.lowerClicked()">
                        <i class="glyphicon center ng-class:[{'glyphicon-plus':!mc.isLowerMode(), 'glyphicon-minus':mc.isLowerMode()}]"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="ad-page-content">

        <div class="ad-page-container-flex">

            <!-- UPPER START -->
            <div class="ad-flex-item-upper ng-class:[{'ad-flex-show-full':mc.isUpperMode(), 'ad-flex-show':mc.isBothMode(), 'ad-flex-hide':mc.isLowerMode()}]">

                <ad-embedded-file id="embeddedFirst" refresh="mc.blockMode" ng-attr-fileurl="mc.upperUrl" ng-attr-filename="mc.upperUrl"></ad-embedded-file>

                <div ng-if="mc.error" class="alert alert-danger" role="alert">{{mc.error}}</div>
            </div>
            <!-- UPPER END -->

            <!-- LOWER START -->
            <div class="ad-flex-item-lower ng-class:[{'ad-flex-show-full':mc.isLowerMode(), 'ad-flex-show':mc.isBothMode(), 'ad-flex-hide':mc.isUpperMode()}]">

                <ad-embedded-file id="embeddedSecond" refresh="mc.blockMode"  ng-attr-fileurl="mc.lowerUrl" ng-attr-filename="mc.lowerUrl"></ad-embedded-file>

            </div>
            <!-- LOWER END -->

        </div>
    </div>

</div>
