
<div class="ad-page">

    <div class="ad-page-header">
        <div class="container col-xs-12">
            <div class="row">
                <h3 ng-if="mc.mobile" class="col-xs-10">{{mc.title}}</h3>
                <i ng-if="!mc.mobile" class="col-sm-3 glyphicon glyphicon-menu-right right" aria-hidden="true"></i>
                <i ng-if="!mc.mobile" class="col-sm-3 glyphicon glyphicon-menu-left right" aria-hidden="true" ng-click="mc.toggleMenu()"></i>
                <i ng-if="!mc.mobile" class="col-sm-3 glyphicon glyphicon-home right" aria-hidden="true" ng-click=""></i>
                <i class="col-xs-1 col-sm-3 glyphicon glyphicon-info-sign right" aria-hidden="true" ng-click="mc.showInfo()"></i>
            </div>
        </div>
    </div>

    <div class="ad-page-content">

        <button type="button" class="btn btn-primary btn-lg wrap-button-text" ng-click="mc.showMeetings()">
            <div class="ng-class: [{'col-xs-10':mc.loading, 'col-xs-12':!mc.loading}]">Kokoukset <span class="badge">{{mc.mtgCount}}</span>
            </div>
            <div class="ng-class: ['ad-progress-bar-parent', {'col-xs-2':mc.loading, 'col-xs-0':!mc.loading}]">
                <uib-progressbar class="progress-striped active ad-progress-bar" type="info"></uib-progressbar>
            </div>
        </button>
        <button type="button" class="btn btn-primary btn-lg wrap-button-text" ng-click="mc.showSignings()">Allekirjoitukset <span class="badge">{{mc.sgnCount}}</span>
        </button>

    </div>

</div>
