<div class="ad-page">

    <div class="ad-page-header">
        <div class="container col-xs-12">
            <div class="row">
                <i class="col-xs-1 glyphicon glyphicon-menu-left" aria-hidden="true" ng-click="goBack()"></i>
                <h3 class="col-xs-10">MEETING DETAILS</h3>
            </div>
        </div>
    </div>

    <div class="ad-page-content">
        <button type="button" class="btn btn-primary ad-dummy-header-button disabled">
            <ANY translate>STR_TOPIC</ANY>
        </button>
        <button type="button" class="btn btn-primary ad-header-button">
            <ANY translate>STR_ATTACHMENTS</ANY>
        </button>
        <button type="button" class="btn btn-primary ad-header-button">
            <ANY translate>STR_ADDITIONAL_MATERIAL</ANY>
        </button>
        <button type="button" class="btn btn-primary ad-header-button">
            <ANY translate>STR_DECISION_HISTORY</ANY>
        </button>
        <button type="button" class="btn btn-primary ad-header-button">
            <ANY translate>STR_PROPOSALS</ANY>
        </button>
    </div>

</div>
