<div class="no-inherit-animation ad-size-full">
    <div class="container-fluid ad-container-fluid ad-no-margins">
        <div class="row">
            <div class="col-xs-9">{{mfc.heading}}
            </div>
            <div class="col-xs-3 text-right">
                <button type="button" class="btn btn-primary btn-md" ng-click="mfc.closeModal()">
                    <span class="glyphicon glyphicon-remove">
                    </span>
                </button>
            </div>
        </div>
    </div>
    <ad-embedded-file class="ad-size-full" ng-attr-fileurl="mfc.fileUrl" ng-attr-filename="mfc.heading"></ad-embedded-file>
</div>
