<div class="proposal db-directive db-padding-10" ng-click="(c.mode !== c.modes.EDIT) && c.toggleCollapse()">
    <span us-spinner="{radius:6, width:2, length:4}" spinner-on="c.updating"></span>

    <div class="db-flex db-center-v">

        <span class="db-margin-10-right glyphicon ng-class:{'glyphicon-minus': c.mode !== c.modes.COLLAPSED, 'glyphicon-plus': c.mode === c.modes.COLLAPSED}"
            aria-hidden="true"></span>

        <span ng-show="c.uiProposal.isPublishedIcon" class="db-margin-10-right glyphicon glyphicon-send db-newprops" aria-hidden="true"
            tooltip-enable="c.isTooltips" uib-tooltip="{{'STR_PUBLISHED' | translate}}" tooltip-placement="right"></span>

        <span ng-show="c.uiProposal.isModified" class=" db-margin-10-right glyphicon glyphicon-bell db-newprops" aria-hidden="true"
            tooltip-enable="c.isTooltips" uib-tooltip="{{'STR_INFO_NEW_PROPS' | translate}}" tooltip-placement="right"></span>

        <span ng-show="c.uiProposal.isCopy" class=" db-margin-10-right glyphicon glyphicon-duplicate db-duplicate" aria-hidden="true"
            tooltip-enable="c.isTooltips" uib-tooltip="{{'STR_DUPLICATE_PROP' | translate}}" tooltip-placement="right"></span>

        <b class="db-margin-10-right">{{c.uiProposal.orderNumber}}</b><b class="db-margin-10-right">{{c.typeText(c.uiProposal.proposalType)}}</b>
        <b class="db-margin-10-right db-oneliner" ng-if="c.uiProposal.isPublished === c.status.YES"><i>{{c.uiProposal.personName}}</i></b>
        <span class="db-flex-area db-oneliner" ng-bind-html="c.mode === c.modes.COLLAPSED ? c.uiProposal.text : null"></span>

    </div>

    <div class="db-flex">

        <div class="db-flex-area" uib-collapse="c.mode === c.modes.COLLAPSED">
            <textarea class="db-textarea db-margin-10-top db-padding-05" msd-elastic ng-readonly="c.mode !== c.modes.EDIT"
                ng-model="c.editorText" focus-if="c.mode === c.modes.EDIT" ng-click="c.mode !== c.modes.EDIT && $event.stopPropagation()"></textarea>

            <div ng-if="c.mode !== c.modes.COLLAPSED" class="db-flex-right db-flex-area">
                <button ng-if="c.uiProposal.isOwnProposal && (c.mode !== c.modes.EDIT)" class="btn btn-danger db-btn-big db-margin-2" db-confirm
                    confirm-config="c.deleteConfig" ng-click="c.remove(data)"><span translate translate-cloak>STR_DELETE</span></button>
                <button ng-if="c.uiProposal.isOwnProposal && (c.mode === c.modes.EDIT)" class="btn btn-danger db-btn-big db-margin-2" ng-click="c.cancel()"><span translate translate-cloak>STR_CANCEL</span></button>
                <button ng-if="c.uiProposal.isOwnProposal && !c.uiProposal.isPublished" class="btn btn-success db-btn-big db-margin-2" db-confirm
                    confirm-config="c.publishConfig" ng-click="c.send()"><span translate translate-cloak>STR_PUBLISH</span></button>
                <button ng-if="c.uiProposal.isOwnProposal && !c.uiProposal.isPublished && (c.mode !== c.modes.EDIT)" class="btn btn-primary db-btn-big db-margin-2"
                    ng-click="c.edit()"><span translate translate-cloak>STR_EDIT</span></button>
                <button ng-if="c.uiProposal.isOwnProposal && (c.mode === c.modes.EDIT)" class="btn btn-primary db-btn-big db-margin-2" ng-click="c.accept()"><span translate translate-cloak>STR_SAVE</span></button>
            </div>

        </div>

    </div>
</div>
