<div class="remark db-directive db-min-width-300 db-spinner-cont">
    <span us-spinner spinner-on="c.loading"></span>

    <div ng-if="c.error" uib-alert class="alert-danger">
        <div class="db-flex db-center-v">
            <div class="db-glyph db-glyph-error" ng-include="'images/glyph-error.svg'"></div>
            <div class="db-margin-10-left" translate translate-cloak>STR_FAIL_LOADING</div>
        </div>
    </div>

        <div ng-if="!c.error" class="rmk-header db-brd-top">
            <h5 class="rmk-header-text" translate translate-cloak>STR_REMARK</h5>
        </div>

    <textarea ng-if="c.isMobile && !c.error" msd-elastic class="db-textarea-flex db-padding-05" ng-model="c.editorText" autofocus ng-change="c.changed()"></textarea>
    <textarea ng-if="!c.isMobile && !c.error" class="db-textarea-flex db-padding-05" ng-model="c.editorText" autofocus ng-change="c.changed()"></textarea>

    <div ng-if="!c.error" class="rmk-footer">
        <button class="btn db-btn-prim rmk-footer-button" ng-click="c.clicked(true)" ng-disabled="c.loading || !c.isUnsaved">
            <span translate translate-cloak>STR_SAVE</span>
        </button>
        <button class="btn btn-danger rmk-footer-button" ng-click="c.clicked(false)" ng-disabled="c.loading || !c.isUnsaved">
            <span translate translate-cloak>STR_CANCEL</span>
        </button>
    </div>
</div>
