<div class="remark db-directive db-min-width-300">
    <div class="rmk-header">
        <span us-spinner="{radius:6, width:2, length:4}" spinner-on="c.loading"></span>
        <h5 class="rmk-header-text" translate translate-cloak>STR_REMARK</h5>
    </div>

    <textarea ng-if="c.isMobile" msd-elastic class="db-textarea-flex db-padding-05" ng-model="c.editorText" autofocus ng-change="c.changed()"></textarea>
    <textarea ng-if="!c.isMobile" class="db-textarea-flex db-padding-05" ng-model="c.editorText" autofocus ng-change="c.changed()"></textarea>

    <div class="rmk-footer">
        <button class="btn db-btn-prim rmk-footer-button" ng-click="c.clicked(true)" ng-disabled="c.loading || !c.isUnsaved">
            <span translate translate-cloak>STR_SAVE</span>
        </button>
        <button class="btn btn-danger rmk-footer-button" ng-click="c.clicked(false)" ng-disabled="c.loading || !c.isUnsaved">
            <span translate translate-cloak>STR_CANCEL</span>
        </button>
    </div>
</div>
