<div class="db-overflow" ng-init="isCollapsed = false">

    <ul class="list-group" ng-repeat="data in c.data track by $index">
        <div class="db-list-group-item-prim" ng-click="isCollapsed = !isCollapsed">
            <div class="db-flex db-center-v">
                 <div class="db-glyph-sm db-margin-10-right" ng-include="isCollapsed ? 'images/glyph-expand.svg' : 'images/glyph-minimize.svg'" tooltip-enable="c.isTooltips" tooltip-placement="right" uib-tooltip="{{'STR_EXPANDCOLLAPSE' | translate}}"></div>
                <h5 ng-if="data.title.header" translate translate-cloak>{{data.title.header}}</h5>
                <span class="badge db-badge-hdr db-margin-10-left ng-cloak">{{data.objects.length}}</span>
            </div>
        </div>
        <div uib-collapse="isCollapsed">
            <div class="list-group-item ng-class:[{'db-item-disabled': c.isLinkDisabled(att)}]" ng-repeat="att in data.objects track by $index">
                <div class="db-flex">
                    <a class="db-flex-area" ng-click="!c.isLinkDisabled(att) && c.selected(att)"><span ng-if="att.orderNum">{{att.orderNum}}&nbsp;</span>{{att.title}}</a>
                    <span ng-if="!c.isMobile" class="glyphicon glyphicon-new-window ng-class:[{'db-opacity-05':c.isOpenWindowDisabled(att)}]"
                        ng-click="!c.isOpenWindowDisabled(att) && c.newTab(att.link)" aria-hidden="true" tooltip-enable="c.isTooltips"
                        uib-tooltip="{{'STR_OPEN_NEW_TAB' | translate}}" tooltip-placement="bottom"></span>
                </div>
            </div>
        </div>
    </ul>

</div>
