<div class="ad-page">

    <!-- HEADERS -->

    <div ng-if="!c.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn db-btn-hdr glyphicon glyphicon-menu-hamburger" ng-click="closeMenu()">
        </button>
        <button type="button" class="btn db-btn-hdr glyphicon glyphicon-home" ng-click="c.goHome()">
        </button>
        <button type="button" class="btn db-btn-hdr glyphicon glyphicon-info-sign disabled" ng-click="">
        </button>
        <button type="button" class="btn db-btn-hdr glyphicon ng-class:[{'glyphicon-resize-vertical':parallelMode},{'glyphicon-resize-horizontal':!parallelMode}]" ng-click="c.toggleParallelMode()">
        </button>
    </div>

    <div ng-if="c.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn db-btn-hdr db-no-margin" ng-click="c.goHome()">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
        <h4 translate translate-cloak>STR_SIGNINGS</h4>
    </div>

    <!-- HEADERS END -->

    <!-- CONTENT -->

    <div class="ad-page-content">
        <h5 class="db-title" ng-cloak>{{c.item.Name}}</h5>
        <div class="ad-page-container">

            <div class="btn-lg db-badge ng-class:[c.statusStyle(c.item.Status)]" translate translate-cloak>

                <!--<span ng-hide="!c.displayStatus" class="label db-badge ng-class:[c.statusStyle(c.item.Status)]" translate translate-cloak>-->
                    <h3>{{c.statusStrId(c.item.Status)}}</h3>
                <!--</span>-->
            </div>

            <uib-alert type="warning" ng-if="c.item.Comment && c.item.Comment.length" tooltip-enable="isTooltips" uib-tooltip="{{c.item.Comment}}" tooltip-placement="bottom-left">
                {{c.item.Comment}}
            </uib-alert>

            <db-link ng-if="c.isMobile" cng-attr-config="c.btnModel.doc.linkConfig" ng-attr-uri="c.btnModel.doc.url" class="btn btn-block btn-lg db-btn-prim"></db-link>

            <db-link ng-if="c.isMobile && !c.btnModel.doctr.hideBtn" ng-attr-config="c.btnModel.doctr.linkConfig" ng-attr-uri="c.btnModel.doctr.url" class="btn btn-block btn-lg db-btn-prim"></db-link>

            <button id="c.btnModel.acc.id" ng-hide="c.btnModel.acc.hideBtn" type="button" class="btn btn-block btn-lg db-btn-succ ng-class: {active: c.isActive(c.btnModel.acc.id)}"
                ng-click="c.actionSign()" ng-disabled="c.isDisabled(c.btnModel.acc.id)" db-confirm confirm-config="c.btnModel.acc.cConf">
                <span translate translate-cloak>STR_SIGNING_ACCEPT</span>
            </button>

            <button id="c.btnModel.rej.id" ng-hide="c.btnModel.rej.hideBtn" type="button" class="btn btn-block btn-lg db-btn-dang ng-class: {active: c.isActive(c.btnModel.rej.id)}"
                ng-click="c.actionReject()" ng-disabled="c.isDisabled(c.btnModel.rej.id)" db-confirm confirm-config="c.btnModel.rej.cConf">
                <span translate translate-cloak>STR_REJECT</span>
            </button>

            <button ng-if="c.isMobile" id="c.btnModel.att.id" type="button" class="btn btn-block btn-lg db-btn-prim ng-class: {active: c.isActive(c.btnModel.att.id)}" ng-disabled="c.isDisabled(c.btnModel.att.id)" ng-click="c.actionAttList()">
                <span translate translate-cloak>STR_ATTACHMENTS</span>
                <span class="badge ng-cloak">{{c.btnModel.att.count}}</span>
            </button>

            <button id="c.btnModel.sta.id" type="button" class="btn btn-block btn-lg db-btn-prim ng-class: {active: c.isActive(c.btnModel.sta.id)}"
                ng-click="c.actionSignings()" ng-disabled="c.isDisabled(c.btnModel.sta.id)">
                <span translate translate-cloak>STR_STATUS</span>
            </button>

            <button id="c.btnModel.com.id" type="button" class="btn btn-block btn-lg db-btn-prim ng-class: {active: c.isActive(c.btnModel.com.id)}"
                ng-click="c.actionComment()" ng-disabled="c.isDisabled(c.abtnModel.com.id)">
                <span translate translate-cloak>STR_CREATE_COMMENT</span>
            </button>

            <uib-alert type="info" tooltip-enable="isTooltips" uib-tooltip="{{'STR_SINFO_CONF_ATT_OPENS' | translate}}" tooltip-placement="bottom-left">
                {{'STR_SINFO_CONF_ATT_OPENS' | translate}}
            </uib-alert>

        </div>
    </div>

    <!--<ui-view ng-if="c.isMobile" name="childContent"></ui-view>-->