<div class="ad-page">

    <!-- HEADERS -->

    <div ng-if="!c.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn db-btn-prim glyphicon glyphicon-th-list" ng-click="closeMenu()" tooltip-enable="isTooltips"
            uib-tooltip="{{'STR_INFO_MENUBTN' | translate}}" tooltip-placement="right">
        </button>
        <button type="button" class="btn db-btn-prim glyphicon glyphicon-log-out" ng-click="c.goHome()" tooltip-enable="isTooltips"
            uib-tooltip="{{'STR_INFO_HOMEBTN' | translate}}" tooltip-placement="right">
        </button>
        <button type="button" class="btn db-btn-prim glyphicon glyphicon-info-sign disabled" ng-click="">
        </button>
        <button type="button" class="btn db-btn-prim glyphicon ng-class:[{'glyphicon-resize-vertical':parallelMode},{'glyphicon-resize-horizontal':!parallelMode}]"
            ng-click="c.toggleParallelMode()" tooltip-enable="isTooltips" uib-tooltip="{{parallelMode ? 'STR_INFO_VIEW_VERT' : 'STR_INFO_VIEW_HORIZ' | translate}}"
            tooltip-placement="right">
        </button>
    </div>

    <div ng-if="c.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn db-btn-prim db-no-margin" ng-click="c.goHome()">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
        <h4 translate translate-cloak>STR_SIGNINGS</h4>
    </div>

    <!-- HEADERS END -->

    <!-- CONTENT -->

    <div class="ad-page-content">

        <div class="list-group db-margin-1-btm">
            <h4 class="db-list-group-item-prim" ng-cloak>{{c.item.Name}}</h4>
            <h4 class="list-group-item ng-class:[c.statusStyle(c.item.Status)]" translate translate-cloak>{{c.statusStrId(c.item.Status)}}</h4>
        </div>

        <div class="ad-page-container">

            <div class="db-spinner-cont btn-block">
                <div ng-hide="c.op && c.op.error">
                    <button id="c.btnModel.acc.id" ng-hide="c.btnModel.acc.hideBtn" type="button" class="btn btn-block btn-lg db-btn-x-big btn-success ng-class: {active: c.isActive(c.btnModel.acc.id)}"
                        ng-click="c.actionSign()" ng-disabled="c.isDisabled(c.btnModel.acc.id)" db-confirm confirm-config="c.btnModel.acc.cConf">
                        <span translate translate-cloak>STR_SIGNING_ACCEPT</span>
                    </button>

                    <button id="c.btnModel.rej.id" ng-hide="c.btnModel.rej.hideBtn" type="button" class="btn btn-block btn-lg db-btn-x-big btn-danger ng-class: {active: c.isActive(c.btnModel.rej.id)}"
                        ng-click="c.actionReject()" ng-disabled="c.isDisabled(c.btnModel.rej.id)" db-confirm confirm-config="c.btnModel.rej.cConf">
                        <span translate translate-cloak>{{c.btnModel.rej.strId}}</span>
                    </button>
                </div>

                <div ng-show="c.op.busy" us-spinner spinner-on="c.op.busy">
                </div>

                <div ng-show="c.op.error && !c.op.busy">
                    <!-- Error message for operation -->
                    <div uib-alert ng-show="c.op.error" type="danger" close="c.op.error = null">
                        <i class="glyphicon glyphicon-alert"></i>&nbsp;
                        <span ng-if="c.op.error.locId" translate translate-cloak>{{c.op.error.locId}}</span>
                        <div>
                            <span ng-if="c.op.error.statusCode">{{c.op.error.statusCode}}&nbsp;</span>
                            <span ng-if="c.op.error.statusTxt">{{c.op.error.statusTxt}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <db-link ng-if="c.isMobile" ng-attr-config="c.btnModel.doc.linkConfig" ng-attr-uri="c.btnModel.doc.url" class="db-btn-x-big  db-btn-prim btn-block"></db-link>

            <db-link ng-if="c.isMobile && c.btnModel.doctr.url" ng-attr-config="c.btnModel.doctr.linkConfig" ng-attr-uri="c.btnModel.doctr.url"
                class="db-btn-x-big db-btn-prim"></db-link>

            <button ng-if="c.isMobile" id="c.btnModel.att.id" type="button" class="btn btn-block btn-lg db-btn-x-big db-btn-prim ng-class: {active: c.isActive(c.btnModel.att.id)}"
                ng-disabled="c.isDisabled(c.btnModel.att.id)" ng-click="c.actionAttList()">
                <span translate translate-cloak>STR_ATTACHMENTS</span>
                <span class="badge ng-cloak">{{c.btnModel.att.count}}</span>
            </button>

            <button ng-if="c.isMobile" id="c.btnModel.sta.id" type="button" class="btn btn-block btn-lg db-btn-x-big db-btn-prim ng-class: {active: c.isActive(c.btnModel.sta.id)}"
                ng-click="c.actionSignings()" ng-disabled="c.isDisabled(c.btnModel.sta.id)">
                <span translate translate-cloak>STR_SIGNEES_STATUSES</span>
            </button>

            <br>

            <div uib-alert ng-class="'alert-warning'" tooltip-enable="isTooltips" uib-tooltip="{{c.item.Comment}}" tooltip-placement="bottom-left">
                <h5>
                    <span translate translate-cloak>STR_SENDER_COMMENT</span>
                </h5>
                <div>{{c.item.Comment}}</div>
            </div>

            <div uib-alert ng-class="'alert-warning'" ng-if="c.item" class="db-spinner-cont">
                <h5><span translate translate-cloak>STR_SENDER_EMAIL</span></h5>

                <div ng-show="c.requestorInfo.busy" us-spinner spinner-on="c.requestorInfo.busy">
                </div>
                <div ng-hide="c.requestorInfo.busy">
                    <div ng-if="c.requestorInfo.email && c.requestorInfo.email.length">
                        <span translate translate-cloak>STR_SIGNING_COMMENT_INFO</span>
                        <a href="mailto:{{c.item.Email}}">{{c.requestorInfo.email}}</a>
                    </div>
                    <div ng-if="!c.requestorInfo.email || !c.requestorInfo.email.length" translate translate-cloak>STR_SIGNING_NO_EMAIL</div>
                </div>

            </div>

            <div uib-alert ng-class="'alert-info'" tooltip-enable="isTooltips" uib-tooltip="{{'STR_SINFO_CONF_ATT_OPENS' | translate}}"
                tooltip-placement="bottom-left">
                <i class="glyphicon glyphicon-info-sign"></i>&nbsp;
                <span translate translate-cloak>{{'STR_SINFO_CONF_ATT_OPENS'}}</span>
            </div>

        </div>
    </div>
</div>

<ui-view ng-if="c.isMobile" name="childContent"></ui-view>
