<div class="ad-page">

    <!-- HEADERS -->

    <div ng-if="!c.isMobile" class="ad-page-header db-center-v">
        <button type="button" title="{{'STR_INFO_HOMEBTN' | translate}}" class="btn db-btn-prim" ng-click="c.goHome()">
            <div class="db-glyph" ng-include="'images/glyph-back.svg'"></div>
        </button>
        <button type="button" title="{{'STR_INFO_MENUBTN' | translate}}" class="btn db-btn-prim" ng-click="closeMenu()">
            <div class="db-glyph" ng-include="'images/glyph-menu-toggle.svg'"></div>
        </button>
        <button ng-if="!c.isTablet" type="button" title="{{parallelMode ? 'STR_INFO_VIEW_VERT' : 'STR_INFO_VIEW_HORIZ' | translate}}"
            class="btn db-btn-prim" ng-click="c.toggleParallelMode()">
            <div class="db-glyph" ng-include="parallelMode ? 'images/glyph-parallel.svg' : 'images/glyph-vertical.svg'"></div>
        </button>
        <button type="button" class="btn db-btn-prim disabled" ng-click="">
            <div class="db-glyph" ng-include="'images/glyph-info.svg'"></div>
        </button>
    </div>

    <div ng-if="c.isMobile" class="ad-page-header db-center-v">
        <button type="button" class="btn db-btn-prim" ng-click="c.goHome()">
            <div class="db-glyph" ng-include="'images/glyph-back.svg'"></div>
        </button>
        <h4 translate translate-cloak>STR_SIGNINGS</h4>
    </div>

    <!-- HEADERS END -->

    <!-- CONTENT -->

    <div class="ad-page-content">

        <div class="list-group db-margin-1-btm">
            <h4 class="db-list-group-item-prim" ng-cloak>{{c.item.Name}}</h4>
            <div class="list-group-item db-brd-non-top db-flex db-prim-bg">
                <div class="db-circle-30 db-brd-1-dark ng-class:[c.statusStyle(c.item.Status)]"></div>
                <b class="db-flex-area db-center-v db-font-clr-white db-font-12 db-margin-15-left db-overflow-hidden db-truncate" translate
                    translate-cloak>{{c.statusStrId(c.item.Status)}}</b>
            </div>
        </div>

        <div class="ad-page-container">

            <div class="btn-block ng-class:{'db-spinner-cont': c.op.busy}">
                <div ng-hide="c.op && c.op.error">
                    <button id="c.btnModel.acc.id" ng-if="!c.btnModel.acc.hideBtn" type="button" class="btn btn-block btn-lg db-btn-x-big btn-success"
                        ng-click="c.actionSign()" ng-disabled="c.isDisabled(c.btnModel.acc.id)" db-confirm confirm-config="c.btnModel.acc.cConf">
                        <span translate translate-cloak>STR_SIGNING_ACCEPT</span>
                    </button>

                    <button id="c.btnModel.rej.id" ng-if="!c.btnModel.rej.hideBtn" type="button" class="btn btn-block btn-lg db-btn-x-big btn-danger"
                        ng-click="c.actionReject()" ng-disabled="c.isDisabled(c.btnModel.rej.id)" db-confirm confirm-config="c.btnModel.rej.cConf">
                        <span translate translate-cloak>{{c.btnModel.rej.strId}}</span>
                    </button>
                </div>

                <div ng-show="c.op.busy" us-spinner spinner-on="c.op.busy">
                </div>
            </div>

            <db-link ng-if="c.isMobile" ng-attr-config="c.btnModel.doc.linkConfig" ng-attr-uri="c.btnModel.doc.url" ng-attr-set-disabled="c.op.busy === true"
                class="db-btn-x-big db-btn-prim btn-block"></db-link>

            <db-link ng-if="c.isMobile && c.btnModel.doctr.url" ng-attr-config="c.btnModel.doctr.linkConfig" ng-attr-uri="c.btnModel.doctr.url"
                class="db-btn-x-big db-btn-prim"></db-link>

            <button ng-if="c.isMobile" id="c.btnModel.att.id" type="button" class="btn btn-block btn-lg db-btn-x-big db-btn-prim" ng-disabled="c.isDisabled(c.btnModel.att.id)"
                ng-click="c.actionAttList()">
                <span translate translate-cloak>STR_ATTACHMENTS</span>
                <span class="badge ng-cloak">{{c.btnModel.att.count}}</span>
            </button>

            <button ng-if="c.isMobile" id="c.btnModel.sta.id" type="button" class="btn btn-block btn-lg db-btn-x-big db-btn-prim" ng-click="c.actionSignings()"
                ng-disabled="c.isDisabled(c.btnModel.sta.id)">
                <span translate translate-cloak>STR_SIGNEES_STATUSES</span>
            </button>

            <br>

            <div title="{{c.item.Comment}}" uib-alert ng-class="'alert-warning'">
                <h5>
                    <span translate translate-cloak>STR_SENDER_COMMENT</span>
                </h5>
                <div>{{c.item.Comment}}</div>
            </div>

            <div uib-alert ng-class="'alert-warning'" ng-if="c.item" class="db-spinner-cont">
                <h5><span translate translate-cloak>STR_COMMENT</span></h5>

                <div ng-show="c.requestorInfo.busy" us-spinner spinner-on="c.requestorInfo.busy">
                </div>
                <div ng-hide="c.requestorInfo.busy">
                    <div ng-if="c.requestorInfo.email && c.requestorInfo.email.length">
                        <span translate translate-cloak>STR_SIGNING_COMMENT_INFO</span>
                        <div class="db-breakall">
                           {{c.requestorInfo.email}}
                        </div>
                    </div>
                    <div ng-if="!c.requestorInfo.email || !c.requestorInfo.email.length" translate translate-cloak>STR_SIGNING_NO_EMAIL</div>
                </div>

            </div>

            <div uib-alert ng-class="'alert-info'" ng-if="c.item.Signed">
                <div class="db-flex">
                    <div class="db-glyph db-glyph-alert-blue" ng-include="'images/glyph-info.svg'"></div>
                    <div class="db-flex-area db-margin-10-left" translate translate-cloak>{{'STR_SINFO_SIGNED_ATT_OPENS'}}</div>
                </div>
            </div>

        </div>
    </div>
</div>

<ui-view ng-if="c.isMobile" name="childContent"></ui-view>
