<div class="ad-page">

    <div class="ng-class:[{'ad-page-container-flex-row':parallelMode},{'ad-page-container-flex':!parallelMode}]">

        <!-- PRIMARY BLOCK START-->
        <div class="db-block db-margin-05 ng-class:[{'db-block-close':c.bm === c.bms.SECONDARY},{'db-block-open':c.bm !== c.bms.SECONDARY}]">

            <!-- PRIMARY BLOCK HEADER -->
            <div class="btn-group db-flex-wrap db-prim-bg db-brd-top db-padding-2">
                <button ng-if="menuClosed()" type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2" ng-click="openMenu()" tooltip-enable="isTooltips" uib-tooltip="{{'STR_INFO_MENUBTN' | translate}}" tooltip-placement="right">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
                <button ng-if="menuClosed()" type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2" ng-click="c.toggleParallelMode()">
                    <span class="glyphicon ng-class:[{'glyphicon-resize-vertical':parallelMode},{'glyphicon-resize-horizontal':!parallelMode}]"></span>
                </button>
                <button type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2" ng-disabled="parallelMode" ng-click="c.primaryClicked()">
                    <span class="glyphicon ng-class:[{'glyphicon-minus':c.bm === c.bms.PRIMARY},{'glyphicon-plus':c.bm !== c.bms.PRIMARY}]"></span>
                </button>

                <button type="button" class="btn db-btn-sel db-btn-big db-brd-all db-margin-2 ng-class:{'active' : c.isActive(c.btnModel.doc.id) }"
                    ng-click="c.actionDoc()">
                    <span translate translate-cloak>STR_SIGNING_REQ</span>
                </button>
                <button type="button" class="btn db-btn-sel db-btn-big db-brd-all db-margin-2 ng-class:{'active' : c.isActive(c.btnModel.doctr.id) }"
                    ng-click="c.actionDocTr()" ng-disabled="c.btnModel.doctr.disabled">
                    <span translate translate-cloak>STR_TRANSLATION</span>
                </button>
            </div>

            <!-- PRIMARY BLOCK CONTENT -->
            <div class="db-block-content db-block-border db-brd-bottom">

                <div db-obs class="ad-flex-item-upper db-item-border">
                    <db-pdf ng-attr-uri="c.docUrl"></db-pdf>
                </div>

            </div>

        </div>
        <!-- PRIMARY BLOCK END -->

        <!-- SECONDARY  BLOCK START -->
        <div class="db-block db-margin-05 ng-class:[{'db-block-close':c.bm === c.bms.PRIMARY},{'db-block-open':c.bm !== c.bms.PRIMARY}]">

            <!-- SECONDARY BLOCK HEADER -->
            <div class="btn-group db-flex-wrap db-prim-bg db-brd-top db-padding-2">

                <button type="button" class="btn db-btn-prim db-btn-small db-brd-all db-margin-2" ng-disabled="parallelMode" ng-click="c.secondaryClicked()">
                    <span class="glyphicon ng-class:[{'glyphicon-minus':c.bm === c.bms.SECONDARY},{'glyphicon-plus':c.bm !== c.bms.SECONDARY}]""></span>
                </button>

                <button type="button" class="btn db-btn-sel db-btn-big db-brd-all db-margin-2 ng-class:[{ 'active' : c.isActive(c.btnModel.att.id) }]"
                    ng-disabled="c.btnModel.att.disabled" ng-click="c.actionAtt()">
                    <span translate translate-cloak>STR_ATTACHMENTS</span>
                    <span class="badge ng-cloak db-opt-clr">{{c.btnModel.att.count}}</span>
                </button>

                <button type="button" class="btn db-btn-sel db-btn-big db-brd-all db-margin-2 ng-class:[{ 'active' : c.isActive(c.btnModel.sta.id) }]"
                    ng-disabled="c.btnModel.sta.disabled" ng-click="c.actionReqStatuses()">
                    <span translate translate-cloak>STR_SIGNEES_STATUSES</span>
                </button>

            </div>

            <!-- SECONDARY BLOCK CONTENT -->

            <div ng-show="c.isLoadingSec()" class="db-spinner-cont">
                <span us-spinner spinner-on="c.isLoadingSec()"></span>
            </div>

            <div class="db-block-content db-block-border db-brd-bottom" ng-show="!c.isLoadingSec()">

                <!-- Attachment pdf -->
                <div ng-show="c.isDisplayed(c.btnModel.att.id, true) && !c.selData" class="db-block-content db-block-border db-brd-bottom">
                    <db-pdf ng-hide="c.selData" ng-attr-uri="c.secondaryUrl"></db-pdf>
                </div>

                <!-- Attachment selection list -->
                <div ng-show="c.isDisplayed(c.btnModel.att.id, true) && c.selData" class="db-block-content db-block-border db-brd-bottom">
                    <db-selection-list ng-attr-sel-data="c.btnModel.att.selData" ng-attr-on-select="c.selAtt(data)"></db-selection-list>
                </div>

                <!--Requestees and statuses of the document to be signed-->
                <doc-signers ng-if="c.isDisplayed(c.btnModel.sta.id)" item="c.item" ismobile="c.isMobile">
                </doc-signers>

                <!-- Requestor email address for user to send comments -->
                <uib-alert ng-show="c.isDisplayed(c.btnModel.com.id, true)" type="warning">
                    <div ng-if="c.btnModel.com.content && c.btnModel.com.content.email && c.btnModel.com.content.email.length">
                        <div translate translate-cloak>STR_SIGNING_COMMENT_INFO</div>
                        <div><a href="mailto:{{c.btnModel.com.content.email}}">{{c.btnModel.com.content.email}}</a></div>
                    </div>
                    <div ng-if="!c.btnModel.com.content || !c.btnModel.com.content.email || !c.btnModel.com.content.email.length" translate translate-cloak>STR_SIGNING_NO_EMAIL</div>
                </uib-alert>
            </div>

            <!-- SECONDARY BLOCK END -->
        </div>
        <!-- SECONDARY BLOCK END -->

    </div>
</div>
