<div class="ad-page">
    <div class="ad-page-header">
        <div class="container col-xs-12">
            <div class="row">

                <i class="visible-xs-inline col-xs-2 glyphicon glyphicon-home left" aria-hidden="true" ng-click="goHome()"></i>

                <h4 class="visible-xs-inline col-xs-10">{{sc.fileName}}</h4>

                 <!-- non-XS resolution buttons -->
                <div class="hidden-xs col-xs-12">
                    <i class="col-xs-1 glyphicon glyphicon-home left" aria-hidden="true" ng-click="goHome()"></i>
                    <div class="col-xs-11">
                        <ad-custom-btns config="sc.btnConfig"></ad-custom-btns>
                    </div>
                  <!-- TODO: remove these when sure if btn directive is used or not
                     <div class="col-xs-12 col-sm-2 btn-group">
                        <button id="btnReq" type="button" class="btn btn-primary ad-button">
                            <ANY translate>STR_SIGNING_REQ</ANY>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-2 btn-group" uib-dropdown is-open="hideEmbObj">
                        <button id="btnAtt" type="button" class="btn btn-warning ad-button" uib-dropdown-toggle>
                             <ANY translate>STR_ATTACHMENTS</ANY>
                            <span class="caret"></span>
                        </button>
                        <ul uib-dropdown-menu role="menu" aria-labelledby="btnAtt">
                            <li role="menuitem" ng-click="mc.lowerClicked()">
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-2 btn-group">
                        <button id="btnReq" type="button" class="btn btn-success ad-button">
                            <ANY translate>STR_SIGNING_ACCEPT</ANY>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-2 btn-group">
                        <button id="btnReq" type="button" class="btn btn-danger ad-button">
                            <ANY translate>STR_REJECT</ANY>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-2 btn-group">
                        <button id="btnReq" type="button" class="btn btn-default ad-button">
                            <ANY translate>STR_CREATE_COMMENT</ANY>
                        </button>
                    </div>
                    <div class="col-xs-12 col-sm-2 btn-group">
                        <button id="btnReq" type="button" class="btn btn-info ad-button">
                            <ANY translate>STR_SIGNING_REQ_STATUS</ANY>
                        </button>
                    </div> -->

                </div>
            </div>
        </div>
    </div>

    <div class="ad-page-content">
        <div class="ad-page-container-flex">
            <div class="ad-flex-show-full">

                <uib-progressbar ng-if="sc.ongoing" class="progress-striped active" type="info">
                </uib-progressbar>

                <uib-alert ng-repeat="i in sc.alerts track by $index" type="{{i.type}}" ng-click="sc.closeAlert($index)" close="sc.closeAlert($index)">
                    <ANY ng-if="i.locId" translate>{{i.locId}}</ANY>
                    <div ng-if="i.resCode || resTxt">{{i.resCode}}&nbsp;{{i.resTxt}}</div>
                </uib-alert>

                <!-- XS resolution buttons -->
                <div class="visible-xs-inline container col-xs-12">
                    <div class="row">
                        <ad-custom-btns config="sc.btnConfig"></ad-custom-btns>
                    </div>
                </div>

                <ad-embedded-file ng-if="!isScreenXs() && sc.fileUrl" class="ad-flex-item-upper ad-flex-show-full" id="objAlpha" refresh="" ng-attr-fileurl="sc.fileUrl" ng-attr-filename="sc.fileName">
                </ad-embedded-file>
            </div>
        </div>
    </div>

</div>

<!-- <div class="scrolling-content-xy no-inherit-animation">
    <div class="container-fluid ad-container-fluid">
        <div class="row">
            <div class="col-xs-9">
                <span>{{sic.fileName}}</span>
            </div>
            <div class="col-xs-3 text-right">
                <label role="button" class="btn btn-primary btn-sm" ng-disabled="!sic.fileUrl">
                    <span class="glyphicon glyphicon-new-window"
                            uib-tooltip="Avaa isompana"
                            tooltip-placement="left"
                            tooltip-trigger="mouseenter"
                            tooltip-enable="true"
                            ng-click="sic.openFileModal(sic.fileUrl, sic.blob, sic.fileName)">
                    </span>
                </label>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-12">
                <div class="btn-group">
                    <div class="btn-group">
                        <div class="dropdown">
                            <label role="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-ok"></span>&nbsp;
                                <span class="caret"></span>&nbsp;
                            </label>
                            <ul class="dropdown-menu">
                                <li><a href="">Allekirjoita</a></li>
                                <li><a href="">Hylkää</a></li>
                                <li class="divider"></li>
                                <li><a href="">Kommentoi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group">
                        <div class="btn-group">
                            <ad-attachment list="sic.attachments" on-selected="sic.attachmentSelected(attachment)">
                            </ad-attachment>
                        </div>
                        <label role="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ad-embedded-file ng-if="sic.fileUrl" class="ad-size-full" ng-attr-fileurl="sic.fileUrl" filename="sic.fileName"></ad-embedded-file>
</div>
 -->
